[2014-10-01 22:03] maximilien opened #1 "Fix remaining tests inherited from bosh-warden-cpi and remove unnecessary tests."

[2014-10-01 22:04] #1 closed, assigned to xingzhou

[2014-10-01 22:07] maximilien opened #2 "implement set_vm_metadata"
use newly implemented softlayer-go `setUserMetadata` and `configureMetadataDisk` methods to complete this action's implementation.

[2014-10-01 22:08] maximilien opened #3 "complete create_vm action and method"
complete `create_vm` and `delete_vm` implementation with configured agent via metadata.

[2014-10-01 22:09] maximilien opened #4 "create bosh-softlayer-cpi release"
create BOSH release that encapsulates this CPI and can be used in a BOSH deployment

[2014-10-01 22:10] maximilien opened #5 "configure and run BATs"
configure BOSH acceptance tests (BATs) and attempt running on SoftLayer

[2014-10-08 22:20] #3 closed, assigned to maximilien

[2014-10-08 22:21] maximilien opened #6 "add integration tests at level of CPI cli"
add integration tests that uses the `dev/*.json` files as input to the `out/cli` executable

[2014-10-23 17:29] #4 closed, assigned to nobody

[2014-10-23 17:31] maximilien opened #7 "add support for disks"
Implement CPI methods: `create_disk`, `delete_disk`, `attach_disk`, and `detach_disk`

[2014-10-28 23:51] #6 closed, assigned to nobody

[2014-10-28 23:56] maximilien opened #8 "implement SLAgentEnvService methods: Update and Fetch"
These are needed to support disk attachment and detachment. Implementing them entails:

1.`Update(AgentEnv)`: updating config metadata and then rebooting the VM
2. `Fetch()`: getting the config metadata

For each method, the metadata is base64 encoded and thus must be properly decoded and encoded when being updated.

[2015-01-05 08:35] zhang-hua opened #11 "need to update godep dependency on bosh-agent"

[2015-01-14 04:29] maximilien opened #14 "look to see if ConfigureMetadata can be faster"
Try to see if there is a way to create the VirtualGuest in POWER_OFF state so that the configure metadata w/o creating VG in active state

[2015-01-14 04:48] maximilien opened #15 "Implement set_vm_metadata"
The set_vm_metadata is used to configure tags and notes to the VM. So need to implement in a way that calls `setObject` on the `VirtualGuest` with tags and notes

[2015-02-02 18:30] maximilien commented on #2
Duplicate #15

[2015-02-02 18:30] #2 closed

[2015-02-12 01:16] maximilien commented on #15
After the `softlayer-go` project issue [27](https://github.com/maximilien/softlayer-go/issues/27) is completed make sure to use it here.

[2015-02-13 01:14] maximilien opened #23 "backfill tests for new `util` package"
The new CPI  `util` package has public methods and is missing the unit tests. All public methods should have unit tests with addition of appropriate fakes (if need be). Thanks.

/cc @xingzhou and @zhang-hua

[2015-02-28 00:33] maximilien commented on #8
This is done for a while now. Just have not updated this.

[2015-02-28 00:33] #8 closed

[2015-02-28 00:37] maximilien commented on #15
OK so `softlayer-go` issue (27)[https://github.com/maximilien/softlayer-go/issues/27] is completed and I can also see where the tags get added to the SL console.

![cursor_and_softlayer_customer_portal____device_list](https://cloud.githubusercontent.com/assets/39187/6423713/ea160ffc-be9e-11e4-8ec8-ec1ffd77219b.png)

Ready to implement.

[2015-03-02 02:27] xingzhou commented on #7
This one is done, I'm closing it.

[2015-03-02 02:27] #7 closed

[2015-03-04 08:51] xingzhou opened #24 "Some of the eCPI APIs are mismatch with the APIs used in bosh-micro-cli"
in bosh-micro-cli project, we use string type for the return value of "create_stemcell" and "create_vm", but in current SL eCPI implementation, we just return the int value of stemcell id and vm id, this will lead to bosh-micro-cli runtime error when deploying micro-bosh use SL eCPI.

[2015-03-04 09:00] xingzhou opened #25 "Using bosh-micro-cli to deploy, the metadata passed to SL VM is not correctly applied"
We set the static ip for the SL VM in the deployment manifest, but when the VM is launched, the IP of the VM is not the one we set in the deployment manifest.

We tried to deploy a micro-bosh using bosh-micro-cli+SL eCPI, and set the deployment manifest as using manual network+static ips. after the VM launched in SL, we found that the meta.js contains the correct network and ip information, but th

[2015-03-17 09:43] maximilien opened #26 "verify that VMs created have SSH keys of at least 2048 bits long"
This is response to audit checks from SL scans

[2015-06-19 23:14] maximilien opened #27 "softlayer_stemcell.go deleteVirtualGuestDiskTemplateGroup method is incorrect"
The last part of the method implementation:
[code]

Does not compile on new `softlayer-go` because, the `DeleteObject` call does not return a bool but rather a transaction. So correct implementation should wait on transaction to complete or fail.

/cc: @posijon

[2015-06-23 06:42] dwcnalex opened #31 "Why the "godep store" dont work . It seems some component is missing ."
I git clone the project into my ubuntu vm , and enter the folder .
Then exec  "godep restore" , it seems some issues as following:
=====================================================
root@alexDevBox:~/go/src/bosh-softlayer-cpi# godep  restore
package github.com/cloudfoundry/bosh-agent/errors
	imports github.com/cloudfoundry/bosh-agent/errors
	imports github.com/cloudfoundry/bosh-agent/errors: ca

[2015-06-25 02:36] mattcui commented on #31
Need to update the code to replace all missing packages under github.com/cloudfoundry/bosh-agent/ with github.com/cloudfoundry/bosh-utils/<package_name>

[2015-06-25 17:03] maximilien commented on #31
Yes @mattcui, this is indeed a problem.

@posijon and I are working to have a better Godep and scripts (e.g., `bin/build`) that will automatically update dependencies.

If you have other suggestions, please let us know.

[2015-06-25 17:08] maximilien commented on #11
Hi, @zhang-hua,

@posijon is working on a similar issue for softlayer-go. Hopefully the same solution can be applied here.

Best,

@maximilien

[2015-06-25 22:35] maximilien commented on #31
@posijon may have fixed this with PR #32. I just merged and next Travis build should confirm.

[2015-06-25 22:36] maximilien commented on #31
@posijon just assigned to you. If all works on next Travis build then close it. Thanks all.

[2015-06-25 23:16] posijon commented on #31
Fixed dependency links, especially to (bosh-utils)[https://github.com/cloudfoundry/bosh-utils] and updated `Godeps`. As Dr. Max mentioned, see PR #32
Interestingly, `bosh-agent/internal/...` also has a `bosh-utils`. However, some stuff like logging didn't work immediately, so I stuck with the `cloudfoundry/bosh-utils` link. But it's just something to consider, since we're getting `bosh-agent/inter

[2015-06-25 23:16] #31 closed

[2015-06-25 23:16] posijon commented on #11
This looks to be related to issue #31, so I'm closing this as well.

[2015-06-25 23:16] #11 closed

[2015-06-26 20:52] posijon commented on #27
Fixed. See PR #33 and Tracker ID [#97439078](https://www.pivotaltracker.com/story/show/97439078).

Paired with @maximilien

[2015-06-26 20:52] #27 closed

[2015-06-30 23:42] posijon opened #35 "Create has_vm integration test"
Also add any required `has_vm` helper methods and test accordingly.
Also look through helper tests to see if any error cases can be added.

These can be found in `test_helpers/*` and also `integration/has_vm/*` after the `has_vm` branch is created.

@maximilien

[2015-06-30 23:50] posijon commented on #35
Also see Tracker ID [98155616](https://www.pivotaltracker.com/story/show/98155616)

[2015-07-01 00:02] posijon commented on #15
Implemented in PR #34

[2015-07-01 05:15] maximilien commented on #15
Looks good. Thx

[2015-07-01 05:15] #15 closed

[2015-07-01 15:46] maximilien opened #37 "fix Godeps dependencies"
The Godeps dependencies are not updated. We need to do the same as we did for `softlayer-go` and testing @posijon's README notes.

[2015-07-01 15:46] maximilien commented on #37
@posijon you can easily replicate this by doing a fresh clone of this repo in a new directory and trying to build it. Thanks.

[2015-07-02 19:02] posijon commented on #37
PR #38

[2015-07-02 19:02] #37 closed

[2015-07-06 18:33] maximilien commented on #35
OK @posijon, closing this since the PRs were merged. Thanks,
@maximilien

[2015-07-06 18:33] #35 closed

[2015-07-15 20:48] maximilien commented on #23
OK so I added the tests. See commits fba407108dc33330f8a7df575b918f15c0c046ca and 080443c8616f559aa94b566ab0bba000707f8979

Closing this.

[2015-07-15 20:48] #23 closed

[2015-07-15 20:50] maximilien commented on #24
Hi, @xingzhou,

Can you be specific here. First, see if the latest code is still in error and also please include some of the error you are seeing. Cut and paste the output here.

Thanks,

@maximilien

[2015-07-15 20:51] maximilien commented on #14
I am thinking of closing this since the current Ruby CPI does the same.

\cc @wen-quan and @mattcui to confirm that this is the case. Once you do I will close this.

Please comment here. Thanks,

@maximilien

[2015-07-15 20:53] maximilien commented on #25
@xingzhou, can you please work with @wen-quan and @gu-bin to make sure they understand this so we can have an appropriate story for this in Tracker (if it's not there already).

Also, please comment here on tracker story ID and anything else you want to add to clarify this.

Thanks,

@maximilien

[2015-07-16 05:50] mattcui commented on #14
@maximilien , discussed with @jianqiu , it's worth looking further at this enhancement, there are a couple of options we could consider to enhance:

1. Specify userData in createObject, don't need to configure metadata subsequently.
2. Set power-off when creating VM, and then configure metadata.

@jianqiu is investigating which option is feasible, will open a feature in PR when we decide to change

[2015-07-16 07:05] jianqiu commented on #14
@maximilien
After investigation, option 1 is more feasible. VM metadata could be attached along with creating object, so `ConfigureMetadataOnVirtualGuest` subsequently is no longer needed. I will submit a feature record in Tracker, and PR.

[2015-07-18 14:21] maximilien commented on #14
Nice. Thanks @jianqiu

[2015-07-18 14:21] #14 closed

[2015-07-24 05:38] mattcui opened #60 "About enable/disable OS Reload in eCPI"
@maximilien , I would like to get your advices/comments on this issue. As you know, we need to support OS Reload feature in eCPI to make it work well in Bluemix environment, but I think we should allow the users to choose whether to create a new VM or perform OS reload. So I would like to add a property to enable/disable this feature. I want to place it (osReloadEnabled) in Softlayer section in Mi

[2015-07-24 20:44] maximilien commented on #60
I like the idea of having this be an optional feature but kind of hate the "pollution" to the Create. Just thinking a bit, could this be done via environment varables and defaulted. So the CPI will have that as option as tou say but defaulted and changed if env variable is set. Just an idea. Thought?

[2015-07-25 03:59] mattcui commented on #60
It's a good idea, I think. Let me implement it in alpha release, we could improve in future release if we find a better solution later. So in Create and Delete methods, there will check this environment variable to perform the proper action accordingly. Thanks.

[2015-07-28 04:39] maximilien commented on #60
@mattcui cool. I'll look forward to the PRs.

[2015-07-29 21:54] posijon opened #63 "Failing Integration Tests Intermittently"
Problem deleting ssh keys that are in use. Possible fix by changing timeout values.
Example error messages as follows

[code]

Full output can be seen in http://159.8.14.90:8080/pipelines/softlayer-ecpi/jobs/sl-go-integration/builds/11 and http://159.8.14.90:8080/pipelines/softlayer-ecpi/jobs/cpi-integration/builds/8

Copy of softlayer-go issue [#51](https://github.com/maximilien/softlayer-go/issu

[2015-08-12 08:51] maximilien commented on #5
I am closing this since we have several stories for this and a pipeline.

[2015-08-12 08:51] #5 closed

[2015-08-12 08:52] maximilien commented on #24
I am closing this since I believe it is no longer valid. If it is we will see this in our tests.

@xingzhou if you feel otherwise, open a new one.

[2015-08-12 08:52] #24 closed

[2015-08-12 08:54] maximilien commented on #25
@wen-quan and @gu-bin,

Do we have appropriate tracker stories for this issue? If yes, then please add links so I can close this once the stories are completed.

Thanks.

[2015-08-12 08:55] maximilien commented on #60
@mattcui, I will close this once the `OsReload` stories are accepted. Thanks.

[2015-09-23 18:47] maximilien commented on #63
@posijon is this still failing?

[2015-09-23 18:54] maximilien opened #69 "missing integration tests for create_stemcell and delete_stemcell actions"
The `create_stemcell` and `delete_stemcell` actions are missing integration tests.

Tracker story [#104026530]

[2015-10-21 03:11] mattcui opened #74 "Unit test failed on stemcell suit"
Unit test failed on stemcell suit, the code in question is https://github.com/mattcui/bosh-softlayer-cpi/blob/os_reload/softlayer/stemcell/softlayer_stemcell_test.go#L54

[1445396531] Disk Suite - 5/5 specs - 7 nodes ••••• SUCCESS! 9.843958ms
[1445396531] Stemcell Suite - 6/6 specs - 7 nodes ••••
------------------------------
• Failure [0.005 seconds]
SoftLayerStemcell #Delete when stemcell does

[2015-10-22 20:17] maximilien commented on #63
@karafelix if we are no longer seeing this with the new pipeline then please close.

[2015-10-22 20:18] maximilien commented on #26
@mattcui do we have a story for this? I can create one if needed. Thanks.

[2015-10-22 20:19] maximilien commented on #25
I am closing this since @jianqiu has gotten bosh-init to work with the eCPI.

He's working to finalize the support but I feel that this issue is no longer relevant.

Please reopen if needed.

[2015-10-22 20:19] #25 closed

[2015-10-22 20:20] maximilien commented on #69
@karafelix, I believe these were added. Correct?

I am closing. If that's not the case then let's reopen.

[2015-10-22 20:20] #69 closed

[2015-10-22 20:21] maximilien commented on #74
@mattcui I think this is fixed.

@karafelix please confirm. Reopen if needed.

[2015-10-22 20:21] #74 closed

[2015-10-22 20:49] karafelix commented on #63
@maximilien I think it's only run once or twice since I changed it, so I wouldn't feel comfortable saying it's definitely fixed yet.

[2015-10-23 02:24] mattcui commented on #26
It's OK, please put the detailed info there and assign the task to @wen-quan

[2015-10-23 16:52] maximilien commented on #26
@mattcui done. @wen-quan please take a look at [this tracker story](https://www.pivotaltracker.com/story/show/106497636)

[2015-10-23 16:52] #26 closed

[2015-11-12 08:45] maximilien commented on #63
This is fixed now right @karafelix ?

[2015-11-12 08:52] karafelix commented on #63
As far as I can tell, yes.

[2015-12-10 07:54] maximilien commented on #60
Closing since OS reload code is already merged.

[2015-12-10 07:54] #60 closed

[2015-12-10 07:55] maximilien commented on #63
Closing this.

We can always open again as needed. Thanks all. Cheers :beers:

[2015-12-10 07:55] #63 closed

[2016-04-07 21:59] ScarletTanager opened #108 "Argument mismatch between bosh cpi and softlayer CPI for VM deletion"
When trying to do a simple deployment to SL, we are getting the following:

    D, [2016-04-07 21:54:51 #32412] [] DEBUG -- DirectorJobRunner: External CPI sending request: {"method":"delete_vm","arguments":["17309677"],"context":{"director_uuid":"d4f53e59-f1ea-4290-9789-4cd5a1d4c7d5"}} with command: /var/vcap/jobs/cpi/bin/cpi
    D, [2016-04-07 21:54:51 #32412] [] DEBUG -- DirectorJobRunner: Exte

[2016-04-08 02:06] jianqiu commented on #108
@ScarletTanager  Thanks for your trial !
Due to the specific requirement of SoftLayer infrastructure, bosh-softlayer-cpi-release-v1 could not work with the bosh version from community. As we implemented os_reload function in bosh-softlayer-cpi, there needs to be some changes to bosh release, just like  you mentioned, delete_vm of bosh.  Please try the offerings as follows:
https://github.com/cloud

[2016-04-08 15:10] ScarletTanager commented on #108
@jianqiu - thanks for the response.  I have a couple of comments:

1. I'm decidedly not a fan of the nested tarball approach to packaging - there is no way to see what's really in the release tarball, since you just get more tarballs.  Not only that, but I think you have golang included twice in your release, since I get this (partial output) from `tar tzf bosh_softlayer_cpi.tgz` in the extracted

[2016-04-08 15:14] ScarletTanager opened #109 "Documentation for the SL CPI manifest syntax?"
Is there documentation anywhere for the manifest syntax required for the SL CPI?  We have not been able to find it, and thus far we've mostly had to stick to trial-and-error to figure out what works/does not work.

[2016-04-08 15:24] ScarletTanager commented on #108
@jianqiu - still getting an error, albeit a different one:

    D, [2016-04-08 15:23:04 #3532] [] DEBUG -- DirectorJobRunner: External CPI sending request: {"method":"delete_vm","arguments":["17309677"],"context":{"director_uuid":"d4f53e59-f1ea-4290-9789-4cd5a1d4c7d5"}} with command: /var/vcap/jobs/cpi/bin/cpi
    D, [2016-04-08 15:23:04 #3532] [] DEBUG -- DirectorJobRunner: External CPI got respo

[2016-04-08 15:40] jianqiu commented on #108
@ScarletTanager
Could you please look into the bosh-softlayer-cpi-release project, we had already made some documents there on how to use bosh-init to deploy bosh director with softlayer-ecpi.
https://github.com/cloudfoundry-incubator/bosh-softlayer-cpi-release/releases

[2016-04-08 15:41] jianqiu commented on #108
For bosh-softlayer-cpi-release-v1, you need to use customized bosh release (not the version of community), bosh-softlayer-stemcell, our bosh-init.
you can download them from v1.49.0 release notes.

[2016-04-08 15:43] jianqiu commented on #109
You should get all some documents from https://github.com/cloudfoundry-incubator/bosh-softlayer-cpi-release,  we will update all these documents in the near future.

[2016-04-08 16:00] ScarletTanager commented on #108
@jianqiu - I am using the community directory with your 2.1.0, about which you state, "from this release, you can use the BOSH release from community."  Is that not actually the case?

[2016-04-09 02:10] jianqiu commented on #108
@ScarletTanager  That is fine, could you please show me your manifest yaml for bosh director? And how did you use the cpi release? Thanks!

[2016-04-15 14:54] Freyert opened #110 "Please support NFS"
It would be really great if you could also support creation of NFS disks as well as ISCI.

[2016-04-15 16:18] #109 closed

[2016-04-18 01:12] jianqiu commented on #110
@Freyert
Thanks for your suggestion, we will think about it since we should consider the NFS support of SolfLayer.

[2016-04-18 02:23] mattcui commented on #110
@Freyert We are open and willing to see the code contribution from anyone who has interests in and would like to improve this project. It will be great if you could submit a PR to help us address this requirement. Thanks.

[2016-04-19 13:51] ScarletTanager commented on #108
@jianqiu - before we deploy the 2.1 CPI, we need to know whether or not we can expect the delete_vm operation to work - is it still broken in the 2.1 CPI, or should we expect full functionality to be available?

[2016-04-19 14:41] ScarletTanager commented on #108
@jianqiu - we are getting this error on bosh-init deploy with the 2.1 CPI and your 2.2 candidate bosh release:

[code]

I have attached our manifest (user/pws scrubbed) here:

[rtog-sl-bosh-init.yml.txt](https://github.com/cloudfoundry/bosh-softlayer-cpi/files/226100/rtog-sl-bosh-init.yml.txt)

I do see a blobstore.address property in at least one location in our manifest, but I'm not sure in what

[2016-04-20 01:41] jianqiu commented on #108
@ScarletTanager
Sorry of the misunderstanding for the deploy using bosh-softlayer-cpi-v2.
The main problem is that you are using the wrong manifest yaml, please take this as reference:
https://github.com/cloudfoundry-incubator/bosh-softlayer-cpi-release/blob/develop_v2/docs/bosh-init-usage.md
And I just corrected the manifest for you, please try it again
[rtog-sl-bosh-init-V2.yml.txt](https://gith

[2016-04-20 01:42] jianqiu commented on #108
@ScarletTanager @jberkhahn
We will update our readme in future.  Sorry for the confusion caused to you.

[2016-05-27 12:52] sykesm opened #112 "Please describe the branching and tagging policies used with this project and what branch PRs should be based on"
It appears `master` is no longer the active development branch as final releases of [cloudfoundry-incubator/bosh-softlayer-cpi-release](https://github.com/cloudfoundry-incubator/bosh-softlayer-cpi-release) are being cut from commits that don't exist in that branch. This makes me wonder what branch people should create pull requests against.

It would also be great if the promotion policy (if/when

[2016-05-27 15:58] cppforlife commented on #112
I would recommend taking approach other cpi releases took:

- all work happens on master (no develop or some other branch)
- releases are cut from master when necessary
- users consume releases so its ok if master breaks occasionally

Sent from my iPhone

[2016-05-27 16:49] midoblgsm opened #113 "CPI should be able to convert the name of vlans to their IDs"
Trying to use bosh-init to deploy director to softlayer. Only the name of vlans is accessible through Softlayer portal. So I used the names of vlans instead of their IDs. Unfortunately, the deployment failed and I needed to get the vlan IDs using softalyer API and replace it in the manifest. The CPI should be able to do that automatically.

[2016-05-30 07:33] jianqiu commented on #112
I had swapped the branches, all work will happen on master, and  cloudfoundry-incubator/bosh-softlayer-cpi-release had been updated accordingly. Thanks!

[2016-05-30 21:04] sykesm opened #115 "bin/test-unit fails on pristine checkout of develop_v2 and master branches"
Running `bin/test-unit` fails with the following:

[code]

Perhaps the test_helpers package should not be part of the unit tests? Or is it that the cpi should be built before attempting to execute? Or is it that the before suite for the helper test should be building the binary?

[2016-05-30 21:26] sykesm opened #116 "Information in dev/README.md appears stale, incorrect, or incomplete"
The information under the [Normal Testing](https://github.com/cloudfoundry/bosh-softlayer-cpi/blob/master/dev/README.md#normal-testing) heading doesn't seem right.

First, the link to the bosh-softlayer-cpi-release doesn't work. That appears to be due to the recent project move. Ignoring that, I can't find a `Vagrantfile` or any other instructions or information in the release on testing.

Updatin

[2016-05-30 21:34] sykesm opened #117 "Why does a network IP influence which path actions.CreateVM#Run goes down?"
Commit https://github.com/cloudfoundry/bosh-softlayer-cpi/commit/f1ee110c291d52ca39a13327824e52dba14f3588 introduced a conditional flow through the `create_vm` action but there are _no tests_ to describe why it was done or to keep it from getting regressed.

Can you please explain why an IP address is used as the condition that selects OS reload vs. creation?
What condition results in the presence

[2016-05-31 01:04] mattcui commented on #117
If an IP is passed from director to CPI createvm function, it means there is trying to do something for an existing VM, for Bluemix/Softlayer, we need to do os reload instead of recreation. We will add some test when we get time. Thanks.

[2016-05-31 02:20] mattcui commented on #115
I modified the test_unit script to add one line code to make a build prior to TestHelpers test. Thanks for pointing to this issue.

commit -> https://github.com/cloudfoundry/bosh-softlayer-cpi/commit/c0db0f60873cb5f673324505211d87e37c9be403

[2016-05-31 02:30] jianqiu commented on #115
From now,  all work should happen on master as other cpi releases took the same approach.

[2016-05-31 03:02] sykesm commented on #115
You should consider using the [gexec.Build](https://godoc.org/github.com/onsi/gomega/gexec#Build) pattern in the test code. That will ensure the build is up to date without relying on scripts.

You can find lots of examples in the [diego](https://github.com/cloudfoundry-incubator/file-server/blob/ca1402a2bc667e5443be43cbbcb0020023e7b47d/cmd/file-server/main_suite_test.go#L22) code.

[2016-06-01 05:27] mattcui commented on #115
@sykesm, Thanks for your suggestion. Seems there can't specify output binary path/name in [gexec.BuildIn](https://github.com/onsi/gomega/blob/master/gexec/build.go#L39), but there hardcoded "out/cpi" in our code, so it's not easy to use this pattern in the current situation, we will consider it later. Thanks.

[2016-06-01 05:27] mattcui commented on #115
@sykesm, Thanks for your suggestion. Seems there can't specify output binary path/name in [gexec.BuildIn](https://github.com/onsi/gomega/blob/master/gexec/build.go#L39), but there hardcoded "out/cpi" in our code, so it's not easy to use this pattern in the current situation, we will consider it later. Thanks.

[2016-06-01 05:28] mattcui commented on #115
@sykesm, Thanks for your suggestion. Seems there can't specify output binary path/name in [gexec.BuildIn](https://github.com/onsi/gomega/blob/master/gexec/build.go#L39), but there hardcoded "out/cpi" in our code, so it's not easy to use this pattern in the current situation, we will consider it later. Thanks.

[2016-06-01 05:33] mattcui commented on #115
@sykesm, Thanks for your suggestion. Seems there can't specify output binary path/name in [gexec.BuildIn](https://github.com/onsi/gomega/blob/master/gexec/build.go#L39), but there hardcoded "out/cpi" in our code, so it's not easy to use this pattern in the current situation, we will consider it later. Thanks.

[2016-06-01 05:53] mattcui commented on #115
@sykesm, Thanks for your suggestion. Seems there can't specify output binary path/name in [gexec.BuildIn](https://github.com/onsi/gomega/blob/master/gexec/build.go#L39), but there hardcoded "out/cpi" in our code, so it's not easy to use this pattern in the current situation, we will consider it later. Thanks.

[2016-06-01 05:55] maximilien commented on #116
Hey, @sykesm, thanks for feedback. We added a bug [#120648861](https://www.pivotaltracker.com/story/show/120648861) in the tracker for address this.

[2016-06-01 06:03] maximilien commented on #113
Thanks @midoblgsm for the feedback and suggestion. I opened tracker issue [#120649115](https://www.pivotaltracker.com/story/show/120649115) for this issue. Feel free to subscribe to that story to monitor progress.

[2016-06-01 06:06] maximilien commented on #112
Yup `master` is main branch, however we do have v1 and v2 releases actively supported.

[2016-06-01 06:07] #112 closed

[2016-06-01 06:14] maximilien commented on #117
Some context: `os_relead` was a unique SoftLayer feature that will actually now be part of all CPIs. See bosh tracker story: [#114037725](https://www.pivotaltracker.com/story/show/114037725).

That does not justify any lack of tests converage. So @mattcui please add a chore in tracker for this listing some tests you plan to add and close this issue with a pointer to that chore. Thx.

[2016-06-01 06:16] maximilien commented on #110
@Freyert what SoftLayer APIs do you use for NSF disks...  Want to see if that's just a `cloud_config` update or need to add new API support in `softlayer-go`.

Thanks for suggestion and any more pointers.

[2016-06-01 06:18] maximilien commented on #108
I am closing this issue as being resolved. If others feel differently, please reopen with reasoning.

[2016-06-01 06:18] #108 closed

[2016-06-01 11:54] sykesm commented on #117
My concern isn't about whether to reload or not to reload, my concern is why the IP address is used as the mechanism to determine whether or not to go down that path.

I'm experimenting with manual networks on softlayer (with good success) and using the IP as the sentinel is forcing the CPi to go down the reload path even when the VM does not exist. Since there's no test coverage, I simply comment

[2016-06-01 14:06] smoser-ibm opened #118 "Is hourly billing supported ?"
Hi bosh-sl-cpi team,

I was trying to find a way to provision my VMs using hourly billing, but I was unable to do so. Am I missing something or isnt that supported yet ?
If not supported yet, I would expect that I can define this as a global setting (all VMs hourly OR all VMs monthly) - that would be good enough for the start. Thanks for considering this.

[2016-06-01 14:58] mattcui commented on #118
It's supported certainly. You just need to specify ```HourlyBillingFlag: true``` in ```cloud_properties``` section, for examples:

https://github.com/cloudfoundry-incubator/bosh-softlayer-cpi-release/blob/master/docs/sl-bosh.yml#L25

[2016-06-01 15:11] sykesm commented on #118
This is an example of where the documentation needs improvement. Unless you look through the examples or the code, you don't know what cloud properties are available in which contexts and how they impact the CPI.

I'd very much like to see more than example manifests in the `docs` directory of the CPI release.

[2016-06-01 16:34] mattcui commented on #117
@sykesm It looks like a bug to me when handling static IP (manual network), CPI should check if there is an existing VM with the given IP which is passed in from director. If there is, do os reload, otherwise create a new VM. If you agree with the solution, I will open a bug to CPI.

From all info passed from director into CPI, only IP address can be used to help identify if the target VM exists o

[2016-06-01 17:05] sykesm opened #120 "Is the 'OS_RELOAD_ENABLED' environment variable still used?"
It appears all integration tests and the softlayer_creator unit test explicitly set the OS_RELOAD_ENABLED environment variable to TRUE. I'm trying to understand why that's being set as I can find no production code that references it in this release or its dependencies.

If the code is unused, it should be removed as it makes it harder to reason about what's going on in the code.

(Moved here from

[2016-06-01 17:38] sykesm commented on #117
@mattcui I agree it's a bug but it's more than just using the IP from the network configuration.

Unless something changes at SoftLayer, they will always allocate a primary backend IP address for the private network. You can use this IP with a dynamic network configuration to find the VM but you can't use it from a manual network to find the associated VM. The front end, public networks behave sim

[2016-06-01 19:04] sykesm opened #121 "util/ssh_client.go is untested"
While attempting to update the ssh client code to support upload from a reader instead of a file, I discovered that `util.sshClientImpl` is untested code.  The unit test file simply creates a fake, drives methods against it, and then uses the fake to get the arguments that were passed to it.

To be clear: *no production code* is exercised by the tests. I replaced the production code with the follo

[2016-06-02 09:58] maximilien commented on #120
So this was added early during development as we were investigating `os_reload` feature. Perhaps @mattcui can help answer where this is now?

[2016-06-02 10:01] maximilien commented on #118
Guys, @sykesm and @smoser-ibm,

This is no different than many OSS or software projects. Docs need improvement.

Beating the drum on this issue feels to me you guys have some kind of ulterior motive here.

Find you pointed this out. We'll address it or feel free to submit a PR.

[2016-06-02 10:03] maximilien commented on #121
This will be addressed

[2016-06-02 11:12] sykesm commented on #118
I think you're seeing our frustration bleeding through. We've been spending a lot of time trying to use the CPI to deploy Cloud Foundry in CI environments and feeling pain.

For doc, I would be happy if the documentation clearly called out each of the cloud properties for SoftLayer, described what it does, whether or not it's optional, and why it's needed.  For example, why would the cpi need to k

[2016-06-02 11:26] mattcui commented on #120
Yes, this logic has never been tested, and no one ever used it. It would make code look complicated and ugly, I agree to remove this functionality. I will open a tracker.

[2016-06-02 16:11] jianqiu commented on #117
@sykesm
Thanks for your detailed explanation.
If I understand you correctly, the following scenario you mentioned had been implemented in our legacy CPI which was written in ruby.

_"When networking is configured on the VM, both addresses will be associated with associated with the network interface for the VLAN. The configuration that is marked as having the default gateway will be assigned the b

[2016-06-02 19:29] sykesm commented on #117
The code I'm working on now generates /etc/network/interfaces from a template and transfers it to the target VM before the agent user data is created and uploaded. Since you're already hard-coding 'preconfigured` to `true` on the network definitions, the bosh-agent should leave well enough alone.

After the transfer, I'm hoping that bouncing the interfaces will work. Since the primary IP will stil

[2016-06-02 21:20] maximilien commented on #118
Yup, go ahead. We will address this. @jianqui has been sharing docs via email so it's time we add it formally to the project

[2016-06-03 05:25] #121 closed

[2016-06-03 05:27] #120 closed

[2016-06-03 21:20] maximilien commented on #116
Also @cunnie and I submitted [PR 149](https://github.com/cloudfoundry/docs-bosh/pull/149) on `bosh-docs` which will contain (eventually) all authoritative docs to get started.

/cc @mattcui and @jianqiu

[2016-06-06 15:39] maximilien commented on #120
@mattcui closing this based on tracker issue. Please add a reference to keep things connected.

[2016-06-17 12:55] flintstonecf opened #128 "can we have a SL CF template incl. network configuration settings ?"
Hi CPI team,

I believe that after the fixes that @sykesm has been proposing, it should be possible to create a template to deploy a plain CF to SL incl. network config. If thats true, can you please provide such a sample template ?

@suhlig FYI

[2016-06-17 13:03] sykesm commented on #128
It's more than just having the ability to use a portable IP in a manual network configuration. There are a number of things I'm running into with the current CPI that prevents an easy template from being created.

One of the major ones is the fact that the CPI uses the IP associated with a network to find an existing VM. In my opinion, this is just busted. It requires us to use a dynamic network a

[2016-06-17 17:31] sykesm commented on #117
I have my prototype of manual networks deployed. I'm able to use bosh init to bring up a director on a plan and associate it with a portable IP. The code is incomplete but it's at the point where I think someone with more expertise in the CPI should take a look at it...  I'll point you to a branch shortly.

That said, we still can't use the CPI to deploy easily deploy cloud foundry to soft layer.

[2016-06-20 07:07] jszroberto opened #129 "Long hostname prefix breaks persistent disk acquisition"
Long hostname prefixes on nodes with persistent disk configured like the following XX-XXXXXX-XXXXX-XXXXX-database- displayed the following error:

Failed creating bound missing vms > database/0: Creating VM with agent ID '87881d1c-5cfd-453c-ad35-ba0177971fe6': Updating VM's agent env: Updating Agent Env timeout: Uploading temporary file to destination '/var/vcap/bosh/user_data.json': ssh: handshak

[2016-06-20 14:51] maximilien commented on #118
@jianqiu has a fix for this. I've reviewed it and need to decide where to put it. Look for a fix/release soon.

[2016-06-20 14:55] maximilien commented on #117
Ok, @sykesm, thanks for your efforts to improve the CPI/SL IP usage.

Let me discuss with team this week and create some stories to investigate and see how we can support this. Do note that the team is working on current features to support upgrade of Bluemix dedicated/public (ongoing) and baremetal, so I need to figure out what makes sense in term of priority. I'll post stories/updates here when

[2016-06-20 14:57] cppforlife commented on #117
btw bosh#1206 was patched in latest 256.x version. released on friday.

Sent from my iPhone

[2016-06-20 14:59] maximilien commented on #128
See responses to #117

Also, note that all main official docs and samples for this CPI (like other CPIs) will be in bosh.io. Does not mean we cannot have docs here but I want bosh.io to be primary resource for docs, samples, and bits.

/cc @cppforlife

[2016-06-20 15:02] maximilien commented on #129
Thanks for reporting this issue @jszroberto. This is reasonable and fair request.

Let me look into if this is due to a limitation of SL in naming VMs and if there is a way around it. A t a minimum we should offer you a better log message as you suggested. Best.

[2016-06-20 21:25] maximilien commented on #117
Tracker story [#121895629](https://www.pivotaltracker.com/story/show/121895629)

[2016-06-20 21:32] sykesm commented on #117
spike is #130

[2016-06-22 01:20] sykesm opened #131 "Attaching a disk fails with an ssh error"
Using stemcell `light-bosh-stemcell-3232.8-softlayer-esxi-ubuntu-trusty-go_agent-public`, after creating a VM for a job with a persistent disk, the CPI successfully creates a volume but fails to mount it.

The bosh cli reports the following error:

[code]

The task log for the deployment contains the following:

[code]

It appears that after the CPI grants the VM access to the disk, it tries to ge

[2016-06-22 01:46] jianqiu commented on #131
@sykesm
Exactly, the problem was involved by "keep_root_password". In fact, "keep_root_password" should be true, otherwise, bosh-agent will change both `vcap`and `root` accounts` passwords according to the settings in `env` section. If `keep_root_password: true`, bosh-agent would only change the password of `vcap`, keep root password intact. So that should be valid issue to CPI, we should cover th

[2016-06-22 17:32] sykesm opened #132 "Persistent disk allocation is flakey"
When deploying a job with a persistent volume, the deployment fails with the following:

[code]

The task log on the director only contains the following:

[code]

When I go to the softlayer portal, I see the disk has been created. When I go to the orders, I see my order was approved and I was charged for the allocation. I don't know if this is a timing issue or something else as there's no data i

[2016-06-22 19:44] sykesm opened #133 "CPI causes deployments to fail when bosh drives delete_vm and create_vm"
I made a change to my deployment manifest that modified a network configuration. The director then drove the CPI with a `delete_vm` request (which was successful) and followed that with a `create_vm` request that failed:

[code]

The root cause appears (again) to be related to the use of the IP address to find the VM for a reload.

[2016-06-23 01:46] jianqiu commented on #132
@sykesm
When ordering persistent disk on SL, CPI firstly placed the order, that was why you saw "order id 9294521" in the log, then CPI would introduce polling of the status of provisioning disk, it throwed the error if it could not get the disk_id after 5 minute.
I also encountered this problem yesterday, I guess SL was not in a good situation. I will increase the polling time to mitigate this ki

[2016-06-23 15:10] #115 closed

[2016-06-24 00:06] sykesm commented on #131
For others that stumble upon this before changes are made in the CPI, if you're using the templates from https://github.com/cloudfoundry/cf-release, make sure your stub overrides the bosh environment data that's setting the password:

[code]

That will prevent the bosh runtime from changing the password on the target VMs.

[2016-06-24 00:44] sykesm commented on #133
This appears to be a general problem with network changes, attempts to recreate, or anything else that deletes and then recreates a VM.

Deployments after making changes to a resource pool fail each time a VM rolls. When working with anything bigger than a few VMs, it's very painful.

[2016-06-24 01:37] jianqiu commented on #133
@sykesm
We are looking at the problem, and will propose a solution as soon as possible. Thanks!

[2016-06-24 22:17] sykesm opened #135 "Move SoftLayer networking configuration from resource pool to networks"
Information about network component speed and VLAN IDs for virtual guests are currently specified on the resource pool:

[code]

This is a strange factoring that gets in the way of some of the bosh model.

Instead of having the information about networks hung off of the resource pool, I think it would be cleaner (and clearer) to have it associated with the networks themselves.  For example, networ

[2016-06-27 17:16] maximilien commented on #131
/cc @gu-bin make sure the docs are accurate on that front. Thx

[2016-06-27 17:18] maximilien commented on #135
@sykesm let me check to see if this was inherited from the legacy CPI. Remember our first priority as we migrate from legacy CPI to the new one is compatibility, to help ease migration.

[2016-06-27 23:17] cppforlife commented on #135
+1

[2016-06-28 10:40] sykesm commented on #135
@cppforlife can't tel which comment you're endorsing. :)

@maximilien given we're talking about a legacy network configuration vs an explicit network configuration, I think that could be encapsulated as a cloud prop or a cpi configuration element in the config json from the cpi releas.

[2016-07-04 08:51] gu-bin commented on #116
@sykesm https://github.com/cloudfoundry/bosh-softlayer-cpi/blob/master/dev/README.md has been updated.

[2016-07-04 08:52] #116 closed

[2016-07-06 22:23] maximilien opened #138 "Unable to $bosh ssh to other VMs"
Steps to reproduce:

[code]

I get the following output in my test ...

[code]

This now just hangs there indefinitely and does not connect to the VM.

I have not tried the options `--gateway_host` `--gateway_user` `--gateway_identity_file` as The connection to the director seems to work but the further connection is failing.

At the moment we are required to use the bosh director VM as a jump box

[2016-07-06 23:33] maximilien opened #139 "Test issue for tracker integration"
Test

[2016-07-06 23:34] #139 closed

[2016-07-06 23:44] maximilien opened #140 "Test issue 2 for tracker integration"

[2016-07-07 16:47] cppforlife commented on #138
What is 161.202.52.50?

[2016-07-07 19:09] #140 closed

[2016-07-07 19:10] maximilien opened #141 "Test issue #3 to sync github and tracker automagically"
Worked with Pivotal Toolsmith team to get this working correctly again. This is a test.

[2016-07-07 19:12] maximilien commented on #141
Works well. Yeah! :)

[2016-07-07 19:12] #141 closed

[2016-07-12 02:51] sykesm commented on #138
This is behavior is due to a few things:

1. The resource pool definition connected the machine to the public and private networks
2. When a machine is connected to both networks, the public network is the default route (default gateway)
3. The IP associated with the default route is returned to the director as the address
4. The bosh director uses the address associated with the default route as

[2016-07-12 02:59] sykesm commented on #135
Working spike can be found here: https://github.com/sykesm/bosh-softlayer-cpi/tree/network-spike

A working concourse cloud-config with this code looks like this:

[code]

The spike code has been used to deploy cf, diego, and concourse with a mix of manual and dynamic networks.

[2016-07-13 02:47] maximilien commented on #135
Send PR to `develop_v3` fastest way to get this in. Thanks.

[2016-07-13 03:49] sykesm opened #143 "SSH connections are leaked during polling"
[`ExecCommand`](https://github.com/cloudfoundry/bosh-softlayer-cpi/blob/master/util/ssh_client.go#L33) fails to close the ssh client and leaks a connection for every command that is executed. During a failed deployment, the CPI eventually exhausted its file descriptors on the bosh director.

[2016-07-17 15:50] sykesm opened #145 "attach_disk fails when run before /etc/rc2.d/S15install.sh completes"
While attempting to deploy cloud foundry, jobs with persistent disks often fail with a disk attach error like this:

[code]

This has happened several times. The only consistent symptom I find is that the `/etc/rc2.d/S15install.sh` is running on the failed VMs but is not running on the successful VMs. This may be some sort of race between the softlayer initialization scripts and the execution of t

[2016-07-20 13:54] sykesm opened #146 "Errors from the SoftLayer CPI need to be propagated to the bosh task log"
During a deployment, the CPI tried to create a virtual guest. The request to the SL API failed with a 500 and the following response body:

[code]

The CPI then turned that into the following bosh error:

[code]

As you can see, all of the meaningful information from the error has been stripped. Debugging this issue requires direct access to the director VM and the CPI logs.

[2016-07-22 14:22] lehoanganh commented on #132
same by myself. We were facing multiple times with this issue e.g.

[code]

[2016-07-25 15:17] mattcui commented on #138
To address this issue thoroughly, we need to support manual networking and specify private networking as the default one. @jianqiu is working on this, will deliver a dev build soon.

[2016-07-25 15:56] mattcui commented on #143
Sorry, there missed `defer client.Close()` right after [`ExecCommand`](https://github.com/cloudfoundry/bosh-softlayer-cpi/blob/master/util/ssh_client.go#L33) , we will make sure to fix it in eCPI v2 release.

[2016-07-25 16:13] sykesm commented on #138
Actually you should model the public and private networks explicitly and allow users to connect them to jobs and declare which is the default. All of this was part of the spike referenced in #135.

If you only state that private networking is the default, you'll have issues with routing and you will require all users to enable NAT on their vyatta/fortigate VLAN gateways.

[2016-07-26 08:33] gu-bin commented on #133
Please use the latest BOSH version from community.

To enable os-reload on bosh director when doing upgrade bosh director, you need to
1) Use our forked bosh-init ``http://9.39.221.189/stable/bosh-init-softlayer-v2``
2) Add ``current_ip`` property to state.json
example:
[code]

To enable os-reload on deployment vms, you need to add a new director property ``enable_virtual_delete_vms: true`` in dir

[2016-07-27 14:19] mattcui commented on #138
@sykesm Thanks for the detailed explanation, we understood now. Thanks.

[2016-07-27 14:24] mattcui commented on #146
I ever raised the similar [issue 101](https://github.com/maximilien/softlayer-go/issues/101) for [softlayer-go](https://github.com/maximilien/softlayer-go), we will improve it.

[2016-07-28 05:52] mattcui commented on #129
As I mentioned in another thread, it should be a problem with SL, but we could mitigate this problem from the side of eCPI before SL fixes the issue. I opened SL ticket [31097913](https://control.softlayer.com/support/tickets/31097913) to wonder how long of hostname at maximal is allowed to create a VM without that ssh problem, we will improve eCPI to pre-check the length of hostname passed in and

[2016-07-30 04:28] cunnie opened #148 "`cannot execute binary file` when deploying with `bosh-init` on macOS"
When I attempt to deploy from my macOS machine, I get the error `bin/build-linux-amd64: line 9: /Users/cunnie/.bosh_init/installations/bdb7d7df-c568-4600-5421-3ace4a48d992/packages/golang_1.6.2/bin/go: cannot execute binary file`:

[code]

It appears that this is caused by the packaging script forcing the install of the [Linux version of golang](https://github.com/cloudfoundry-incubator/bosh-softl

[2016-07-30 15:08] mattcui commented on #148
@cunnie Sure, please submit a PR, @maximilien will review and merge. Thank you very much!

[2016-08-01 04:46] mattcui commented on #143
Fixed in the commit -> https://github.com/cloudfoundry/bosh-softlayer-cpi/commit/24b38f0b867ca292b36f8b23d2081d14f8381553

Closing this issue now.

[2016-08-01 04:46] #143 closed

[2016-08-01 06:36] mattcui commented on #145
@sykesm We saw such problem frequently when deploying a Whisk environment in dal09. It's because there needs much longer time (more than 5 mins) between placing a disk order and the disk is ready for attaching, in general, it only needs to take 1 min, but something wrong with SL these days, it needs much longer time, the [default timeout duration](https://github.com/maximilien/softlayer-go/blob/ma

[2016-08-01 10:39] sykesm commented on #145
You are conflating problems. This issue has to do with the fact that something is causing a reboot before the init scripts complete. This is not a timeout that can be extended.

If you read what I wrote in the issue, you will see there is no way to recover from this problem other than to recreate the image or manually run the remaining init scripts.

[2016-08-01 19:38] cppforlife opened #149 "has_vm should return false when vm cannot be found"
has_vm seems to return an error instead of a boolean response when vm is not found:

[code]

above makes cck unusable unfortunately.

See https://bosh.io/docs/cpi-api-v1.html#has-vm for more details. I would also check if has_disk has proper behavior.

cc @mattcui @jfmyers9

[2016-08-02 04:35] mattcui commented on #149
@cppforlife I think we followed the [has_vm sample](https://github.com/cppforlife/bosh-warden-cpi-release/blob/master/src/github.com/cppforlife/bosh-warden-cpi/action/has_vm.go#L20) to write our [has_vm code](https://github.com/cloudfoundry/bosh-softlayer-cpi/blob/master/action/has_vm.go#L21), isn't it correct? Thanks.

[2016-08-02 14:37] mattcui commented on #149
@cppforlife @jfmyers9 @maximilien I confirmed with @jianqiu that we already fixed the issue a week ago, and the change has been in the latest eCPI release [2.3.18](https://bosh.io/releases/github.com/cloudfoundry-incubator/bosh-softlayer-cpi-release?version=2.3.18) on bosh.io.

[2016-08-04 09:19] jianqiu commented on #145
@sykesm,
Thanks for your detailed description about the issue.
Do you have the steps to consistently reproduce this problem?
Where to find the init script `/etc/rc2.d/S15install.sh` and `/root/provisioningConfiguration.cfg` before I could not find them on a successfully provisioned vm of Softlayer. Thanks!

[2016-08-04 10:53] mattcui commented on #129
Opened the story [SSH connection failed due to long hostname](https://www.pivotaltracker.com/story/show/127718453), will implement in eCPI v2

/cc @jszroberto  @maximilien

[2016-08-04 14:04] sykesm commented on #145
@jianqiu I don't have a way of consistently doing it. Your best bet is to do a fresh deployment with a bunch of VMs that have persistent disks; that will likely cause you to hit the problem.

[2016-08-04 15:27] mattcui commented on #145
@jianqiu the symptom of the problem is pretty much like today's issue we just resolved, but we didn't get a chance to check what @sykesm described in this issue. The cause of the problem seemed to be that the persistent disk is not authorized to the VM properly, from the SL portal, we saw it's authorized, but it failed to run discovery or session login with iscsiadmin tool. We have to re-authorize

[2016-08-04 17:41] sykesm commented on #145
This problem (#145) is *not* about authorization. This problem is explicitly:

This is a problem that occurs during system initialization that prevents `dmsetup ls` from functioning correctly.

[2016-08-08 23:01] maximilien commented on #133
@sykesm did this solve your problem. Shall we close this issue?

[2016-08-08 23:03] maximilien commented on #138
I am closing this and assuming all info is correctly documented and being implemented.

[2016-08-08 23:03] #138 closed

[2016-08-08 23:04] maximilien commented on #148
@cunnie thanks for this. We are opening it for contribution as it's lower on our priority list right now. Will leave it open.

[2016-08-08 23:05] maximilien commented on #149
@mattcui thanks. Closing this and will look forward to accepting story in tracker.

[2016-08-08 23:05] #149 closed

[2016-08-08 23:07] maximilien commented on #129
Thanks @mattcui OK cool. Leaving this open.

@jszroberto is this satisfactory for you. Do you have a work around now? Trying to gage the importance of this fix for you. Let us know. Thx.

[2016-08-09 10:57] sykesm commented on #133
You can close it but it doesn't solve my issue.

I do hope that the presence of `enable_virtual_delete_vms` in the director yaml you referenced above means that the entire OS reload behavior will become "opt-in". Is that the case?

[2016-08-09 18:00] maximilien commented on #133
Yes @sykesm. However, note that there is strong push within IBM to keep it (ping me offline if you want to understand), but generally its never something I like. Since IBM is largest customer for this CPI we have to consider it carefully.

On the other hand, I've also been trying to work with @cppforlife to actually have first class support for `os_reload` into BOSH and thus all CPIs. There are re

[2016-08-09 18:00] #133 closed

[2016-08-21 14:37] mattcui opened #156 "A proposal to protect the data on the persistent disk."
I would like to raise this issue to discuss about the problem where the persistent disks were re-partitioned and formatted accidentally/mistakenly by bosh-agent. It's hard to find the root cause since we didn't find a way to recreate the problem. Basically, it seemed that there had something wrong with disk host or network which resulted in a "bad" situation of the persistent disk, bosh-agent mist

[2016-08-22 03:22] mattcui commented on #156
The advantage of this proposal is that it just needs changes from CPI side, no need to change stemcell or bosh-agent, the side effect is there still needs to SSH login from CPI to the target VMs, so this is a short-term solution, which could help us protect the data before we figure out a better solution (may be from bosh-agent side).

/cc @jianqiu @maximilien @cppforlife

[2016-08-22 18:18] maximilien commented on #156
@mattcui did you keep all logs from that VM. Can you share (not necessarily here) but secure them and share with me and @cppforlife and Beijing team. Thanks.

[2016-10-04 09:42] mattcui opened #163 "An alternative way to pass customized parameters into eCPI"
Since Env is cleaned up when BOSH invoke eCPI, we can't customize some properties (like SoftLayer API endpoint) through environment variables. Seems the only way to do such customization is through CPI configuration, defining in bosh-init yaml and setting in cpi.json eventually. So I plan to update eCPI code to accept such parameters from CPI configuration, and set these parameters as environment

[2016-10-08 14:18] Freyert commented on #132
I'm fairly new to the SL portal, is there a way we could view these order IDs to see how long it took them to fulfill? It might give us a better idea for how long to set the time out.

[2016-10-08 22:21] Freyert commented on #110
@maximilien I'm fairly unfamiliar with the Softlayer API, but I'd like to get more involved. I love the stuff going on with Terraform. I'll have to swing by softlayer-go.

[2016-10-10 05:51] mattcui commented on #132
@Freyert eCPI v2.0.0 extended the timeout from 5 mins to 10 mins. In addition, we also have PRs for addressing the customization for this timeout value. It will be supported when [PR 164](https://github.com/cloudfoundry/bosh-softlayer-cpi/pull/164) is merged. But keep in mind that it will only be supported by eCPI v2 release.

[2016-10-12 19:03] sykesm opened #166 "CPI panics when a manual network is the only defined network"
Using the latest version of the CPI and attempting to bring up a new bosh director with bosh init. I'm using the manifest from the networking fork that I created in the spring for our work on furnace but I'm hitting problems right away.

With the following:

[code]

Things panic with no indication of the problem, only a stack from the panic:

[code]

Root cause seems to be that softLayerVirtualGue

[2016-10-13 03:33] gu-bin commented on #166
The fix is included in PR #167

\cc @maximilien please help review and merge. Thanks.
\cc @mattcui @jianqiu

[2016-10-14 04:28] maximilien commented on #166
Yup, looking at PR now

[2016-10-14 04:58] maximilien commented on #163
Sounds good. I would also like to see a similar structure or sub-structure for feature flash, e,g., OS reload. Please add chore to tracker to finalize discussion on this next week. I will then add missing stories so we address. Thanks for proactive issue. Cheers 👍

[2016-10-20 19:32] Freyert commented on #156
What about eVault? It would be pretty hand to be able to set up eVault on servers you find especially critical.

[2016-10-21 02:44] mattcui commented on #156
@Freyert I don't know much about eVault, any detailed info?

[2016-11-01 20:05] sykesm opened #168 "What should the mbus URL be when standing up a director with bosh-init?"
I'm attempting to bring up a director with the newest CPI, bosh, and stemcell and it's failing because `bosh-init` is unable to ping the agent on the VM that the CPI created.

It appears `bosh-init` is using the cloud_provider.mbus URL to perform the ping. How do I configure the URL in the manifest when I don't know the address of the VM that will be brought up by the CPI?

The one example that's

[2016-11-02 02:04] mattcui commented on #168
@sykesm To support OS reload, we have to do some tricks in bosh-init and CPI code, as you guessed, there needs to specify the hostname with <VmNamePrefix>.<Domain>, for example:

[code]

CPI will set an entry in /etc/hosts to map this hostname to the real IP.

[2016-11-02 06:49] ishwar1987 opened #169 "unable to execute set of command on bosh ssh vm machine (Automcation)"
Hi,
I need to execute the some set of command on bosh vm. I use the following script.

bosh download manifest testjob > cf-testjob.yml
bosh deployment cf-testjob.yml
bosh ssh  testvm/0  < script.sh

script.sh contain the set of shell script command that need to be execute on testvm/0 machine.
But while execute this script its giving me following error:
Pseudo-terminal will not be allocated because

[2016-11-02 07:34] mattcui commented on #169
@ishwar1987 I believe your question/issue should be raised against BOSH, not CPI.

[2016-11-02 09:09] ishwar1987 commented on #169
ok. Thanks.

[2016-11-02 09:09] #169 closed

[2016-11-02 12:41] Freyert commented on #132
@mattcui it looks like you're setting a bunch of environment variables. Does that mean that if I were to set those environment variables now this would work? And then after the PR is merged I could specify those values in the manifest?

[2016-11-02 12:57] Freyert commented on #156
@mattcui well, eVault is a pretty strong back up solution that constantly backs up drives in the background.

It might be a good first step just to allow users to:

1. allocate snapshot space.
2. set a snapshot schedule for the drive.

[2016-11-02 13:21] sykesm commented on #168
@mattcui I'm going to try that but, I have to ask, what do bosh-init and OS reload have to do with each other?

Also, my impression was that bosh-init was attempting to contact the director. Are you implying that bosh-init is attempting to change my *local* /etc/hosts? If so, I don't know how that can work if I'm not running bosh-init as root (and that just seems like a bad idea to do.)

[2016-11-02 13:43] sykesm commented on #168
@mattcui I found the code you're referring to [here][1]. And, well, you're ignoring the error that comes back from the failure to write `/etc/hosts`. The reason it's failing is because I'm running `bosh-init` as a non-root user.

So, I don't see this as working in the general case and I don't recall seeing documentation implying that people should expect the CPI to change their deployment environm

[2016-11-02 13:49] mattcui commented on #132
@Freyert Need to specify in CPI configuration file (cpi.json), something like this:

[code]

[2016-11-02 14:15] mattcui commented on #168
@sykesm It must be a bug if there doesn't handle the error, we will fix it. Thanks for pointing it out. We will improve the documentation about this trick for OS reload. I think there doesn't need to do this trick if turning on "DisableOsReload", I will discuss with @jianqiu to see how to address it. But for supporting OS reload, we didn't figure out a better way than this one, we would really app

[2016-11-02 16:00] Freyert commented on #132
@mattcui

Also seeing this:

[code]

Note: the order id is 0. That can't be right.

[2016-11-03 03:04] mattcui commented on #168
@sykesm sorry, I made a wrong explanation for this trick, the reason why we made this trick is for supporting dynamic IP, as you know, we can't change IP of director but still use dynamic IP for director, so we have to set hostname/IP mapping in /etc/hosts when CPI gets the IP of the director from SL, so that the bosh-init knows where to connect to the director.

[2016-11-03 07:05] mattcui commented on #132
@Freyert Could you please provide the corresponding cpi log? Especially for the return result of calling SL API to place the order (/placeOrder.json), thanks.

[2016-11-03 07:09] mattcui commented on #168
Opened [tracker bug 133650831](https://www.pivotaltracker.com/story/show/133650831) to track error handling problem.

[2016-11-03 17:03] Freyert commented on #132
[code]

[2016-11-03 17:10] mattcui commented on #132
@Freyert Is there any log around /placeOrder.json?

[2016-11-04 14:22] sykesm commented on #168
I'm going to close and try to work with the SoftLayer CPI PM on alternative methods. There's too much magic going on here and far too many assumptions about what you can and can't do and, again, I find no documentation about these assumptions.

In addition to overwriting (and not cleaning up) `/etc/hosts` on the bosh-init system, I also see that you're rewriting the mbus url that is sent to the ag

[2016-11-04 14:22] #168 closed

[2016-11-04 22:02] maximilien commented on #168
@sykesm sure. This is not something I always liked but was at the time the best solution. If you have better alternative then happy to listen. Thanks.

[2016-11-04 22:09] maximilien commented on #168
Also, to address the magic comment, I believe the docs `bosh.io` are updated with details. I think @gu-bin added these. Best.

[2016-11-04 22:21] sykesm commented on #168
Regarding suggestions,

1. Now that you have a manual networking strategy with portable IPs, document that as the best practice and enable that workflow without as many surprising behaviors. In particular without updating re-writing the listen mbus URL and without touching /etc/hosts.
2. Consider a dynamic-dns option  that would allow users to specify a dynamic-dns compatible provider (via URL), c

[2016-11-07 07:22] mattcui commented on #148
@cunnie do you still have a plan to solve this problem? Thanks.

[2016-11-08 06:18] mattcui commented on #168
Opened [tracker #133906403](https://www.pivotaltracker.com/story/show/133906403) to track the problem that CPI always sets the default dynamic private IP in mbus url even if there attaches a portable IP.

[2016-11-08 20:18] maximilien commented on #168
@sykesm the docs exist. The link needs to be updated. I will get that addressed. Thanks for noticing.

[2016-11-08 23:43] maximilien commented on #148
OK closing for now.

@cunnie submit it separately if you are interested in moving this along. Thx

[2016-11-08 23:43] #148 closed

[2016-11-09 14:25] Freyert commented on #132
It seems that what's happening is that when you order a disk, but BOSH times out; the disk is eventually created by SoftLayer. After enough deployments like this SoftLayer fills up and you get id 0 whenever you try to order.

[2016-11-10 10:03] mattcui commented on #132
@Freyert I think [PR 164](https://github.com/cloudfoundry/bosh-softlayer-cpi/pull/164) can mitigate this pain especially when SL responds slower

[2016-11-11 02:06] Freyert commented on #132
Ah thanks @mattcui. So that lets you set the time out length from the director? Or is it from the deployment manifest as well?

I feel like the more important problem to remedy is the fact that the CPI is not storing the order ID for the disk with the VMs. The ideal behavior would be for this scenario to occur:

1. CPI tries to order disks, but the time out occurs and the deployment fails.
2. The

[2016-11-11 10:50] vvraskin commented on #132
I've got a similar issue, the disk cannot be attached to the vm since the order id `0` is not found.

[code]

[2016-11-11 14:25] Freyert commented on #132
@vvraskin typically an Order ID of 0 means that Softlayer has returned an error when trying to order the disk. The issue I've typically that you've run into is that we've exceeded the number of disks allowed for our account.

[2016-11-12 13:00] mattcui commented on #156
@Freyert The proposal I raised in this issue is intended to not go through disk partition code if the disk is already partitioned and formatted, it think backup is a different topic we could discuss in another thread. Thanks.

[2016-11-16 19:32] Freyert commented on #156
So I've played with eVault a little bit, and it's not the way to go.

SoftLayer Endurance storage provides mechanisms by which you can schedule snapshots. The middle of the road allows for 4 IOPS/GB which should be sufficient for most use cases.

Providing a _backwards_ compatible field in the deployment manifest to specify endurance disk ordering should be a sufficient mechanism to smoothly allow

[2016-11-17 00:24] maximilien commented on #156
So for endurance storage while you can snapshot it appears that it also creates some limitations. Reading from [this blog post](http://blog.softlayer.com/tag/storage) from SL:

[code]
Is that good enough for you?

[2016-11-22 20:25] maximilien commented on #166
Closing this since it seems fixed AFAIK

[2016-11-22 20:25] #166 closed

[2016-11-22 20:26] maximilien commented on #163
Closing as solved.

[2016-11-22 20:26] #163 closed

[2016-11-22 23:36] maximilien commented on #118
@jianqiu I believe this was done. Closing. Please re-open or open new specific issue if anyone thinks something is missing.

[2016-11-22 23:36] #118 closed

[2016-11-22 23:38] maximilien commented on #132
Have you all used the latest release of CPI for this? I don't believe we are seeing this and could be the quota issue @Freyert is mentioning.

Closing this as done and @vvraskin please reopen if you feel it's still a thing.

[2016-11-22 23:38] #132 closed

[2016-11-22 23:39] maximilien commented on #131
We now have docs in bosh.io. Closing this issue as fixed. If there is anything missing in docs then open specifically on that. Thx

[2016-11-22 23:39] #131 closed

[2016-11-23 00:49] maximilien commented on #146
`softlayer-go` was updated so any release of CPI after should have this fixed.

Closing.

[2016-11-23 00:49] #146 closed

[2016-11-23 00:50] maximilien commented on #113
@mattcui and @jianqiu any updates on this. I believe this is fixed now. Correct?

[2016-11-23 00:52] maximilien commented on #145
Hi, @gu-bin can you update me on this? You worked on multipath last, correct?

/cc @mattcui @jianqiu

[2016-12-01 15:26] cunnie commented on #148
Sorry for the delay @mattcui & @maximilien .

I'll submit separately when I circle back to this. Thanks for your patience, and if the meantime a motivated macOS user wants to submit a PR to fix this I'm all for it!

[2016-12-15 17:13] Freyert commented on #156
@maximilien yes those would be fine. I think the 4 IOPS should do quite well.

[2016-12-16 14:29] jszroberto commented on #129
@maximilien @mattcui this is highly affecting our deployments. and the issue happens only when hostname is equal to 64.

[2016-12-16 14:31] jszroberto commented on #129
Can you tackle this issue?

[2016-12-16 16:14] maximilien commented on #129
@jszroberto this is limitation in SoftLayer and not sure there is anything more we can do. Perhaps you can have some scripts that simplify your hostnames before sending them. For instance, use the first n number of characters and postfix it with some hash of the rest of the letters...

[2016-12-16 16:34] maximilien commented on #156
I believe this is possible now. Please try

[2016-12-16 16:34] #156 closed

[2016-12-18 10:59] zhanggbj opened #183 "Renaming"
Hi @dr.max,

Please help to rename this repository when it is convenient as currently it seems have some PRs in review, so I opened an issue to track this thing. Thank you.

[2016-12-21 14:06] Freyert commented on #156
@maximilien I just looked through the code and I didn't really see that anything had changed with disks? Who implemented this? Where are the commits associated? Tests?

[2017-01-05 14:23] petergtz opened #187 "`bosh deploy` fails when `Waiting for the agent on VM`"
When I try to deploy a new bosh director in Softlayer using `bosh-init`, I get the error `Post https://admin:[PASSWORD-REMOVE]@bosh-softlayer.softlayer.com:6868/agent: dial tcp: lookup bosh-softlayer.softlayer.com on 9.152.120.241:53: no such host`

How can I fix this?

**Full log:**

[code]

**`bosh.yml`:**

[code]

cc @suhlig @smoser-ibm

[2017-01-05 14:49] mattcui commented on #187
@petergtz Did you enable SL VPN on your machine where to run bosh-init? The bosh-init machine need to be able to access Softlayer private network.

[2017-01-05 15:36] petergtz commented on #187
@mattcui Yes, I did. But I just saw that I also have to run `bosh-init` with `sudo`. It can reach the agent now.

Shouldn't this be documented on http://bosh.io/docs/init-softlayer.html?

[2017-01-05 16:04] mattcui commented on #187
@petergtz Yes, because there needs to update /etc/hosts.

@gu-bin Please help update the document accordingly, thanks.

[2017-01-06 02:52] gu-bin commented on #187
https://github.com/cloudfoundry/docs-bosh/pull/270 will update the doc

[2017-01-06 08:49] petergtz commented on #187
@mattcui Is it possible to make `bosh-init` tell me that it cannot continue, because it cannot update `/etc/hosts`, instead of trying to continue with a wring configuration? Right now, it's extremely difficult to find the root cause of the problem.

[2017-01-07 05:12] mattcui commented on #187
@petergtz We already had [PR 170](https://github.com/cloudfoundry/bosh-softlayer-cpi/pull/170) to address this issue, waiting for merge.

[2017-01-11 22:07] maximilien commented on #156
@mattcui and @jianqiu see ^^^ and help answer @Freyert's question. Thx

[2017-01-12 01:42] #187 closed

[2017-01-12 04:24] mattcui commented on #156
@Freyert the only change we made to improve this area is in [bosh-agent issue 92](https://github.com/cloudfoundry/bosh-agent/issues/92)

[2017-01-12 09:21] petergtz opened #190 "Improve doc for `sudo bosh-init`"
#187 was closed after merging https://github.com/cloudfoundry/docs-bosh/pull/270, but my comments in that PR weren't addressed.

At least https://github.com/cloudfoundry/docs-bosh/pull/270#pullrequestreview-15455253 should be addressed (i.e. change the terminal instructions from `bosh-init` to `sudo bosh-init`) to make it immediately obvious how to run `bosh-init`.

Sorry for being picky about thi

[2017-01-12 09:59] gu-bin commented on #190
https://github.com/cloudfoundry/docs-bosh/pull/271 will fix it

[2017-01-13 16:05] petergtz opened #191 "How do I specify a dynamic network through subnet instead of vlan id?"
We have a configuration in Softlayer that has multiple subnets mapped to one vlan id. How can I force the director to choose IPs strictly from one subnet?

Our `cloud_config.yml` currently contains the following sections:

[code]

Is there a way to specify the subnet to use?

/cc @suhlig @smoser-ibm @MarcSchunk

[2017-01-15 02:39] mattcui commented on #191
@petergtz I don't think we support this scenario, @jianqiu, please help confirm? Thanks.

[2017-01-16 05:59] mattcui commented on #191
@petergtz Confirmed that we don't support it currently, I tagged this issue with "open-for-contribution" and "enhancement".

[2017-01-23 15:23] Freyert commented on #156
I think the best course of action here would be to create a specific issue about supporting Endurance Storage, and snapshot scheduling.

[2017-01-23 22:09] maximilien commented on #156
Sure, @Freyert, that works for me. Can you please include in there use-cases as well as SL APIs you would use to implement. I will then discuss with team and see what we can do for next version.

Ideally, of course, we would welcome a contribution since there are tons of other priorities and not clear this is one of them.

[2017-01-30 18:36] DanLavine opened #206 "Example bosh-init manifest is out of date."
When trying to stand up the bosh director, I was using [this manifest](https://github.com/cloudfoundry/bosh-softlayer-cpi/blob/master/docs/bosh-init-usage.md) as my template, but I noticed that the stemcells and release versions were out of date. What would be cool is if this file gets auto updated as part of the CI with all of the latest releases, stemcells and appropriate sha versions.

[2017-01-30 18:50] DanLavine opened #207 "CF Manifest Generation"
Are there any templates or stubs information that can be used for manifest generation when deploying CF? Creating a manifest by hand is really difficult and hard to keep up to date. Also, it would be nice if we could get detailed section information about what we need in the manifest. For example, the [aws stubs](http://docs.cloudfoundry.org/deploying/aws/cf-stub.html#editing) provides a detailed

[2017-01-30 19:19] DanLavine opened #208 "Setting up softlayer infrastructure"
When looking at the the [manifest in this page](https://github.com/cloudfoundry/bosh-softlayer-cpi/blob/master/docs/bosh-init-usage.md), I noticed that I needed to replace the networkVlan IDs. Currently I am using a infrastructure that has already been setup for me and was able to figure out what was being requested. However, if there wasn't an infrastructure already provided for me, then I wouldn

[2017-01-30 19:21] DanLavine opened #209 "Unexpected deployment configuration"
When I was deploying bosh via bosh-init, I removed the section for a public network in my bosh.yml.

Specifically:
[code]

But I still got a public IP address after I deployed. When digging through the code, I saw a property to set (PrivateNetworkOnlyFlag), which when set should give me only a private IP address.

It would be nice to have an updated property configuration list.

[2017-01-30 19:35] DanLavine opened #210 "Targeting the bosh director"
After standing up the bosh director via bosh-init, there is no information on how to target the actual director. When looking at [bosh docs](http://bosh.io/docs/init-softlayer.html#deploy) it says to just target the IP, but that IP needs to be found when looking at the newly provisioned bosh vm in the softlayer ui. Also, it is documented to login with `admin` as the username and password, but thos

[2017-01-30 19:38] DanLavine opened #211 "Properties are different between bosh and CF"
The `VMNamePrefix` property different for bosh-init vs bosh when deploying CF. in Bosh-init it really means the hostname for the VM,  so cannot end with certain characters. Could we get some clearer information about these fields or rename one of them?

[2017-02-01 06:27] mattcui commented on #208
@DanLavine  I think you might try to find some docs like this -> https://bosh.io/docs/init-softlayer.html

[2017-02-01 06:41] mattcui commented on #206
@DanLavine do you a good sample to reference? Thanks.

[2017-02-01 23:17] maximilien commented on #211
I believe Bluemix needed this due to some limitation in SL.

@mattcui can you please confirm the background on this. Thx

[2017-02-01 23:18] maximilien commented on #210
Cool, that's a good suggestion. Let me assign this to @gu-bin who can add the necessary docs when she is back from Chinese New Year vacation.

Thanks for opening the issue.

[2017-02-01 23:19] maximilien commented on #209
Thanks @DanLavine, let me also ask @gu-bin to update docs on this as well as sample manifests on bosh.io.

[2017-02-01 23:21] maximilien commented on #208
Let's make sure everything is up to date.

@gu-bin please take a look when back from CNY. Best,

max

[2017-02-01 23:22] maximilien commented on #207
That's a good suggestion. Let me see what's possible

[2017-02-01 23:22] maximilien commented on #206
I believe @gu-bin has some that she can share and update bosh.io with.

[2017-02-01 23:24] maximilien commented on #183
I am ready to do this. I will wait and do it once we talk after CNY. Please remind me @zhanggbj

[2017-02-01 23:24] maximilien commented on #113
I believe this is now done. @midoblgsm if you have a chance confirm and if not working then re-open.

[2017-02-01 23:24] #113 closed

[2017-02-01 23:25] maximilien commented on #128
See also #207

[2017-02-01 23:26] maximilien commented on #207
There is also another related issue #128

[2017-02-02 06:13] mattcui commented on #210
@DanLavine You could get the director IP from /etc/hosts, we will try to document it better.

/cc @gu-bin

[2017-02-06 04:09] gu-bin commented on #210
PR https://github.com/cloudfoundry/docs-bosh/pull/271 added instruction on how to get the director ip. The login user/password is not set in the deployment manifest but created from ``bosh create user`` command https://bosh.io/docs/director-users.html. Default is admin/admin.

[2017-02-06 06:34] gu-bin commented on #206
Doc https://github.com/cloudfoundry/bosh-softlayer-cpi/blob/master/docs/bosh-init-usage.md has been deleted via PR #202

[2017-02-06 06:34] #206 closed

[2017-02-06 06:36] gu-bin commented on #208
Doc https://github.com/cloudfoundry/bosh-softlayer-cpi/blob/master/docs/bosh-init-usage.md has been deleted via PR #202

[2017-02-06 06:36] #208 closed

[2017-02-06 06:56] gu-bin commented on #209
PR https://github.com/cloudfoundry/docs-bosh/pull/271

[2017-02-06 08:19] mattcui commented on #211
@DanLavine there has to pre-define the fully qualified hostname in bosh-init yaml, CPI will set the DNS mapping in /etc/hosts, so there can't append a timestamp like CF jobs. @gu-bin will give an explanation/attention in http://bosh.io/docs/softlayer-cpi.html

[2017-02-06 08:30] gu-bin commented on #211
PR https://github.com/cloudfoundry/docs-bosh/pull/271

[2017-02-07 18:20] DanLavine commented on #211
@mattcui My issue is not that a timestamp is append in the CF jobs, but that the same property has different meanings depending on what the manifest is trying to deploy:

1. The property is `VMNamePrefix` in bosh-init, but it really defines what the VM name is. It feels like this should be named `VMName` since that is what it is really doing and when looking [here](http://bosh.io/docs/init-softlay

[2017-02-07 18:37] DanLavine commented on #210
@mattcui Why would I look at /etc/hosts after I deploy Bosh to get the IP address? That seems scary that /etc/hosts will be modified. What if there is already an entry in there for bosh. Will it be overwritten and remove what I could have manually added myself? Are there guarantees that everything there is preserved?

@gu-bin The `admin` `admin` username and password only work if there are no user

[2017-02-08 02:05] maximilien commented on #211
Guys (@mattcui and @gu-bin) let's discuss this tonight in scrum. @DanLavine makes a good point. Consistency should be paramount, unless Bluemix or other large users have already adopted the current scheme.

[2017-02-08 03:22] maximilien commented on #183
Cool. Doing now.

/cc @cppforlife  @gu-bin we need to also change links in bosh.io

[2017-02-08 03:22] #183 closed

[2017-02-08 03:52] gu-bin commented on #183
@maximilien I didn't find any link references in bosh.io

[2017-02-08 04:13] gu-bin commented on #210
added in commit https://github.com/cloudfoundry/docs-bosh/pull/271/commits/61ef9c5fb40c076f4fd37265db45f7544c05fdef

[2017-02-08 04:57] mattcui commented on #210
@DanLavine Yes, there has to update /etc/hosts to support current Bluemix environments on Softlayer (use dynamic IP as static IP for directors), there had many discussions about it, but we can't figure out a better way to handle this situation. Currently, /etc/hosts is overwritten, Yes I agree it's bad to not preserve the existing data. We could consider to append the new DNS entry at the bottom o

[2017-02-08 16:22] mattcui commented on #211
@DanLavine Yes, I agree to use another name like `hostname`, @jianqiu and @maximilien, if you all agree, I will open one story and implement it, but maybe we still need to keep the backward compatibility for a while before we delete `VMNamePrefix` completely.

The properties used for creating a VM are defined under `resource_pool`,  currently, we set the job name and index as tags to the VM.

[2017-02-08 17:26] mattcui commented on #211
Sorry, I accidentally closed this issue, feel free to continue to post comments here or open a new issue.

[2017-02-09 00:50] maximilien commented on #183
Cool, thanks @gu-bin. Just wanted to verify. Best.

[2017-02-09 00:51] maximilien commented on #211
Reopening. We need to discuss this tomorrow night

[2017-02-10 04:25] mattcui commented on #211
Opened tracker to address this issue -> https://www.pivotaltracker.com/story/show/139523259, @DanLavine please let us know if you don't think  the new name `Hostname` is proper. Thanks.

[2017-02-13 23:30] DanLavine commented on #211
@mattcui Looks fine to me.

[2017-02-14 13:45] YunSangJun opened #218 "Error 100: Could not auto-detect IP version for ''."
The following error occurs when i recreate/restart vm via bosh.

$ bosh recreate haproxy 0
...
Error 100: Could not auto-detect IP version for ''.

Softlater D/C: Seoul
CPI version : 3.0.5
Bosh version : 260.6
Stemcell version : 3312.18

[2017-02-14 16:35] mattcui commented on #218
@YunSangJun Please post your yml or send to cuixuex@cn.ibm.com and wangjq@cn.ibm.com, don't forget to hide all sensitive data there. Thanks.

[2017-02-14 17:17] libingw opened #219 "Support shared iSCSI disk for multiple VMs."
We used to manually order machines and an iSCSI disk from softlayer portal. Then we authorized the  same disk to multiple servers. We then installed and ran some iSCSI and mpath commands in the servers to configure the disk sharing. For example, if 2 VMs share the same disk, the lsblk commands from the two VMs shares the same disk ID:
From server1:
sda

[2017-02-15 01:02] YunSangJun commented on #218
@mattcui I sent my yml file to the email.

Thanks.

[2017-02-15 02:09] mattcui commented on #218
@jianqiu Could you please help take look at his manifest? I guess there is something improper in Network section. Thanks.

[2017-02-15 02:26] mattcui commented on #219
@maximilien I don't think BOSH/CPI support such scenario, what's your opinion? I don't think it's a common or general requirement.

/cc @jianqiu

[2017-02-20 21:07] maximilien commented on #211
Cool, closing this. @DanLavine feel free to add yourself to the Tracker story to monitor if you so desire. Best.

[2017-02-20 21:07] #211 closed

[2017-02-20 21:22] maximilien commented on #219
Yeah, not quite. Any such setup is ideally done by the bosh-agent. We can certainly discuss it.

Generally, I don't believe sharing disks should be done at the BOSH layer. Perhaps using a service is best. Please take a look at the [CF-persistence](https://www.cloudfoundry.org/creating-cloud-foundry-applications-with-persistence/) [project](https://www.pivotaltracker.com/n/projects/1518687) which h

[2017-02-23 19:08] maximilien commented on #218
/cc @gu-bin let's make sure to update docs appropriately

[2017-02-23 19:10] maximilien commented on #210
@mattcui and @jianqiu let's try appending. Please update progress here. Thx

[2017-02-24 03:30] gu-bin commented on #207
IBM Bluemix has the CF YML templates for different CF versions. You can get them from github.ibm.com.

[2017-02-24 03:31] #207 closed

[2017-02-24 04:11] gu-bin commented on #218
@jianqiu I think the manifest is OK. Would you please take a look? Maybe it's a bug in our code?

[2017-02-24 05:13] gu-bin commented on #191
Updated the doc through PR https://github.com/cloudfoundry/bosh-softlayer-cpi-release/pull/220

[2017-02-27 12:56] MarcSchunk commented on #191
@gu-bin could you pls elaborate why this was closed? We are aware that it is currently not supported.

However the "open-for-contribution" and "enhancement" kind of indicated for me that this is something you would eventually work on or at least accept contribution.

Please re-open this issue.
cc: @petergtz

[2017-02-27 14:00] MarcSchunk commented on #191
@mattcui thx

[2017-02-27 19:16] maximilien commented on #218
@YunSangJun, can you please share some logs? As a reminder you can easily get logs from any tasks using the `$bosh` CLI (old or new) with:
[code]
Please ensure you remove any sensitive data when sharing here. Use the `--cpi` to share the CPI logs which should be especially interesting for us to see. Thx.

[2017-02-28 13:29] mattcui commented on #210
@maximilien Opened [bug #140753119](https://www.pivotaltracker.com/story/show/140753119) to track this issue.

[2017-03-02 03:01] maximilien commented on #210
Thanks @mattcui, let's prioritize this for @DanLavine and let him know here when someone picks up that story. Thx

[2017-03-06 07:08] zhanggbj commented on #129
Please note PR #205 is reverted. Please find the details in the comments. Thanks.

[2017-03-06 23:18] cantino opened #223 "minimal-softlayer example manifest hardcodes JWT signing key and other sensitive values"
https://github.com/cloudfoundry/bosh-softlayer-cpi-release/blob/master/docs/mimimal-softlayer.yml#L839

Anyone using this manifest, even for experimentation, will have a CF installation that will accept bearer tokens from any other similar installation, or from anyone who spoofs their JWT tokens with this shared private key. Those values in the example manifest should be replaced with placeholders

[2017-03-07 00:04] mattcui commented on #223
@zhanggbj Could you please help address problems. Thanks.

[2017-03-07 04:05] zhanggbj commented on #223
Hi @cantino,

Thank you for noticing this! I just submitted a PR #224  to fix it. Thanks.

/cc @mattcui

[2017-03-07 12:44] cantino commented on #223
Great, thanks @zhanggbj!

[2017-03-08 22:24] cppforlife opened #225 "Add NOTICE file next to LICENSE"
[code]

[2017-03-08 22:42] maximilien commented on #225
Done. See c1c11554afc1c5672ff97605023c32debd736418

[2017-03-08 22:42] #225 closed

[2017-03-09 20:14] maximilien commented on #223
Fixed.

[2017-03-09 20:14] #223 closed

[2017-03-09 20:16] maximilien commented on #218
What is the status of this issue?

[2017-03-10 14:48] mattcui commented on #210
The PR has been merged, so close this issue now.

[2017-03-10 14:48] #210 closed

[2017-03-10 22:02] maximilien commented on #210
Thanks @mattcui

[2017-03-16 08:02] petergtz opened #228 "Deployment fails with stemcell ubuntu-trusty version 3363.9"
Our latest deployment in Softlayer tried using the newest ubuntu-trusty stemcell version 3363.9 and failed with the error
[code]

Do we have to change something in the Cloud Config with this new stemcell version?

Help is appreciated. Thanks,
Peter

_Full deployment log here:_

[code]

/cc @suhlig @smoser-ibm

[2017-03-16 12:39] petergtz commented on #228
Is #131 related to this issue?

[2017-03-17 00:07] maximilien commented on #228
@gu-bin have we tested stemcell version 3363.9 with our pipeline? Did not see this.

/cc @mattcui @zhanggbj

[2017-03-17 00:09] maximilien commented on #219
@libingw I suggest you raise this with BOSH. When/if such scenario is supported we will look into adding. Closing for now.

[2017-03-17 00:09] #219 closed

[2017-03-17 00:09] maximilien commented on #209
The docs-bosh is now merged. So closing this as resolved.

[2017-03-17 00:09] #209 closed

[2017-03-17 00:11] maximilien commented on #218
Hi, @YunSangJun, are you still seeing this with latest CPI release (find in [bosh.io](https://bosh.io/releases/github.com/cloudfoundry-incubator/bosh-softlayer-cpi-release?all=1))? If yes, please share logs. Otherwise, I will close this as resolved.

[2017-03-17 00:12] maximilien commented on #190
@gu-bin's PR was merged so closing this.

[2017-03-17 00:12] #190 closed

[2017-03-17 01:42] mattcui commented on #228
Yes, It's a known problem with the stemcell 3363.9, but since the sha1 can't be overridden on bosh.io once it's already uploaded, we can't upload the good stemcell there. In addition, we are still working on the new pipeline for building the stemcell for catching up the community. In the meantime, you could try with the stemcell below, please let us know if you meet any problem. Thanks.

https://s

[2017-03-17 06:38] petergtz commented on #228
@mattcui That's not really a viable option, because we're using concourse's stemcell resource. For the time being we're using the old stemcell version.

Can you add information to the broken stemcell version on bosh.io to make it obvious that there is an issue? It took me several hours to find out that it's the stemcell and not something else.

[2017-03-17 10:10] mattcui commented on #228
@petergtz  I totally agree, and sorry for wasting your time. @jianqiu tomorrow it's your last day working in Pivotal, possible to talk to the pair chair (or some senior guy there) to see if it's possible to fix this issue, or if it's possible to add some warning messages there at least? Thanks.

/cc @maximilien

[2017-03-22 13:05] mattcui commented on #228
@petergtz We have a new stemcell [3363.12.1](https://s3.amazonaws.com/bosh-softlayer-cpi-stemcells/light-bosh-stemcell-3363.12.1-softlayer-xen-ubuntu-trusty-go_agent.tgz) published on bosh.io. Please note that there requires to to add `keep_root_password` property under resouce_pool due to a change in `bosh-agent`, you could reference the sample [docs/sl-bosh.yml](https://github.com/cloudfoundry/b

[2017-03-22 14:23] valeriap commented on #228
@mattcui How do I specify `keep_root_password: true` in v2 manifests? Is the property under `instance_groups`? Thanks.

[2017-03-22 14:43] mattcui commented on #228
@valeriap Yes, I think so.

[2017-03-22 21:10] petergtz commented on #228
@valeriap Maybe I'm missing something, but aren't you confusing the deployment manifest with a *bosh director* manifest? [docs/sl-bosh.yml](https://github.com/cloudfoundry/bosh-softlayer-cpi-release/blob/master/docs/sl-bosh.yml#L15-L17) is a sample manifest to deploy a *bosh director*. Hence, there's no Cloud Config to update.

@mattcui Thanks for the update. We'll this one as soon as possible.

[2017-03-23 12:42] valeriap commented on #228
@petergtz Since the property is used by the bosh agent I supposed the change to be needed on each deployment, not specifically on the bosh director deployment. Am I wrong?

[2017-03-23 16:16] petergtz commented on #228
@valeriap No idea. @mattcui?

[2017-03-24 03:34] mattcui commented on #228
@petergtz @valeriap if you want to use it in manifest v2, I think you have to define `keep_root_password` in cloud_config.

[2017-03-24 16:28] petergtz commented on #228
@mattcui Would it make sense to update the cloud_config.yml template to make it clear then?

Also, you wrote you "think" it has to be defined there. Does that mean it is unclear at this point?

[2017-03-25 04:28] mattcui commented on #228
@petergtz I am working on this these days, just submitted [PR 55](https://github.com/cloudfoundry/bosh-deployment/pull/55), you or @valeriap could reference `cpi.yml` and `cloud-config.yml` in  [softlayer](https://github.com/mattcui/bosh-deployment/tree/softlayer/softlayer). The property `keep_root_password` has to be defined under `instance_groups`, reference -> [concourse_sample_v2_schema.yml](h

[2017-03-26 13:10] mattcui commented on #129
The issue is solved by [PR 226](https://github.com/cloudfoundry/bosh-softlayer-cpi-release/pull/226)

[2017-03-26 13:10] #129 closed

[2017-03-29 09:46] vvraskin opened #231 "Fail fast when VM cannot be created due ephemeral disk failure"
Hello,

**Bosh behavior we have seen:**

1. Bosh is trying to fill up the resource pool with new VMs.
It takes 20 minutes to understand that bosh task has failed.
[code]
2. Bosh agent is failing to bootstrap
[code]

3. Finally bosh VMs are unresponsive (bosh agent is failing to bootstrap)

[code]

**What are the expectations:**

After bosh is trying to get a vm from softlayer and it experienced fa

[2017-03-30 07:31] mattcui commented on #231
@vvraskin I think your issue is already addressed by [PR 188](https://github.com/cloudfoundry/bosh-softlayer-cpi-release/pull/188), could you please have a try with the latest version (v10)? Thanks.

[2017-04-05 08:02] mattcui commented on #191
@petergtz @MarcSchunk I just submitted [PR 232](https://github.com/cloudfoundry/bosh-softlayer-cpi-release/pull/232) to simply address this requirement, there allows to specify `PrimarySubnetId` instead of `Id` (vlan id) in `NetworkVlan`, for examples:

[code]

[2017-04-11 03:35] mattcui commented on #218
Closing for no response
/cc @maximilien

[2017-04-11 03:35] #218 closed

[2017-04-11 03:36] mattcui commented on #145
Closing this since cannot repro. Please re-open if you see it again in new release and can provide steps to repro.

/cc @maximilien

[2017-04-11 03:36] #145 closed

[2017-05-15 05:42] mattcui commented on #231
Closing this issue, @vvraskin please re-open it if you have questions. Thanks.

[2017-05-15 05:42] #231 closed

[2017-05-23 10:38] nihillno opened #235 "Problem acquiring iSCSI volumes with new Bosh VSIs"
When attempting a Bosh-based deployment, the following error is seen when provisioning VSIs:

Started updating job core-node > core-node/0 (fda10350-e343-4946-9127-f5ca02bebcb5) (canary). Failed: Attaching disk '24867541' to VM '32489483': Granting volume access to virtual guest 32489483: IBM02SVC421436_31 is not yet ready for mount, please try again after Volume Provisioning is complete. (00:02:1

[2017-05-23 15:32] iodine53 commented on #235
It's better to check the property "isReadyToMount" (== 1) on the SoftLayer Network_Storage volume, and use that as the determining factor for whether the volume is ready to have disks attached via the SoftLayer API.

[2017-05-25 09:16] nihillno commented on #235
Hi. This issue is blocking a critical customer deployment for us. Would it be possible to get an ETA for a fix? Thanks.

[2017-05-25 09:32] mattcui commented on #235
@nihillno Which version of CPI release are you using? The latest one v12 should have already fixed this problem.

[2017-05-25 09:59] nihillno commented on #235
Ooh, it's pretty old - 3.0.5. It was updated to 12.0.1 on the environment in question - D_CIO - 25 minutes ago, as it happens. We'll see if that improves things. Many thanks!

[2017-06-16 11:16] nihillno commented on #235
This is now working nicely. Thanks all!

[2017-06-16 11:18] #235 closed

[2017-06-29 09:38] egurnov opened #251 "Trying to deploy a new director fails with `Failed to get IP address of eth0 in local`"
We followed the instructions on https://bosh.io/docs/init-softlayer.html to deploy a new director in Softlayer. After creating the VM, it fails with the error `Failed to get IP address of eth0 in local`. We logged into that machine and there **is** a eth0 interface. So it is not clear why the CPI wouldn't find it.

Could you please help?

Thanks,
Alex and @petergtz

[code]

[2017-06-29 12:30] mattcui commented on #251
Did you specify  `-o bosh-deployment/softlayer/cpi.yml` in `create-env` command?

[2017-06-29 14:27] egurnov commented on #251
@mattcui Okay, we got that part to work, but now it fails with:

[code]

We followed exactly the docs in https://bosh.io/docs/init-softlayer.html

Also, we checked that the bosh_agent is running on the new VM.

Any ideas?

[2017-06-29 15:26] mattcui commented on #251
Seems agent is not started properly, possible to show agent log?

[2017-06-29 15:47] petergtz commented on #251
Here's the tail of `/var/vcap/bosh/log/current`:

[code]

[2017-06-29 16:09] mattcui commented on #251
Need to show us your deployment yml (hide all sensitive data there).

[2017-06-30 07:31] petergtz commented on #251
Invoked as:
[code]
With `bosh.yml` (taken as is from [cloudfoundry/bosh-deployment](https://github.com/cloudfoundry/bosh-deployment)):
[code]

And `cpi.yml`:
[code]

We tried version 10 and version 20 of the CPI.

[2017-06-30 14:46] petergtz commented on #251
The agent is running in a loop, constantly trying to get those settings, but I'm not sure exactly why it fails:

[code]

Doing the call manually with `curl`, gives me the follwing:

[code]

Any ideas, @mattcui?

/cc @suhlig

[2017-07-03 05:56] mattcui commented on #251
@petergtz Could you please have a try with the `bluemix` stemcell?  There should be some compatibility issue in agent of `softlayer` community stemcell. We will try to fix it soon.

https://s3.amazonaws.com/bosh-softlayer-stemcells-bluemix/light-bosh-stemcell-3421.9.3-bluemix-xen-ubuntu-trusty-go_agent.tgz

[2017-07-03 11:00] petergtz commented on #251
@mattcui Thanks, that helped. The bosh_agent seems work now.

However, we get the following error now:

[code]

Let me give you some context: `@director.flintstone.ams` is in there because I replaced `(( internal_ip ))` with this hard-coded string. My understanding is, that `internal_ip` should be the bosh-director IP. However, that IP doesn't exist before the director VM is created.

In fact, thi

[2017-07-03 14:24] gu-bin commented on #251
@petergtz I think you are right. The `alternative_names` should be IP arrays. The IP and hostname are not the same when creating the certificates. You can firstly create the director without certificates to get the director IP and then update the director with the certificates or just use portable IP.

[2017-07-03 14:45] petergtz commented on #251
@mattcui I followed your suggestion, i.e. just run the deployment again now with the concrete director IP in the values where I previously had `director.flintstone.ams`. But when I try that, I get:

[code]

I guess it tries to talk to the director, but can't and then creates a new one.

Or what do you mean by "firstly create the director without certificates"?

[2017-07-04 01:56] gu-bin commented on #251
1. If you can get the IP before director is created, just use the hostname and remove `director.ssl.key`, `director.ssl.cert` and `hm.director_account.ca_cert`. This is "firstly create the director without certificates".

2. After the director is created, you get the IP and need to do os-reload to update the director. You need to add `"current_ip": "<director_ip>",` with the same indent as `"curre

[2017-07-04 03:04] mattcui commented on #251
@petergtz Like other IaaSes, `bosh-deployment` is designed to use a static (or portable) IP to deploy BOSH director. So highly recommended you to use a portable IP.

[2017-07-13 07:59] jszroberto opened #252 "CPI should power off free VMs in the VPS pool and tagged them as free"
Hi @mattcui @maximilien,

Could you evaluate the possibility to power off machines when they are released as marked as `free` state?

It will be also interesting to add VMs tags to identify if they are in the pool and specially if they are `free`. In that way, you could identify all the idle VMs you have in your SL account.

Maybe `vps-free`, `vps-provisioning`, `vps-running` could be the tags.

[2017-07-13 21:01] maximilien commented on #252
Thanks for suggestion @jszroberto. I'll chat with the team tomight in our scrum call

/cc rest of team: @jianqiu, @zhanggbj, and @gu-bin

[2017-07-14 01:40] mattcui commented on #252
@maximilien @jszroberto already talked to me before opening this issue, yes, we can have a talk about it in scrum.

[2017-07-14 08:47] valeriap opened #253 "Deployment fails with bosh-softlayer-xen-ubuntu-trusty-go_agent 3421.11"
I'm trying to deploy with the latest stemcell but the deployment fails during compilation with error:

[code]
Note that the vm is created within the 600 seconds.
With an older stemcell it works fine (I've tried 3363.20.1) .

Bosh director is `261.3.0`
Thanks,
Valeria.

[2017-07-14 08:56] mattcui commented on #253
There should be some compatibility issue in agent of softlayer community stemcell. We will try to fix it soon.

https://s3.amazonaws.com/bosh-softlayer-stemcells-bluemix/light-bosh-stemcell-3421.9.3-bluemix-xen-ubuntu-trusty-go_agent.tgz

@jianqiu more and more people met this problem, could you please help build a new stemcell with compatible bosh-agent? Thanks.

[2017-07-17 03:38] mattcui commented on #252
@jszroberto As you know, there maintains status (like `free`, `provisioning`, `using` and `unknown`) in VPS db, I recalled that when we tried to implement the VPS solution, the original idea is to leverage tags, but there is a concurrency issue, like a case that BOSH requests 15 VMs from pool at the same time. So it's why we changed to use DB to maintain the status. I think we could address your 1

[2017-07-17 09:20] jszroberto commented on #252
@mattcui  Apart from powering off the VM (priority 1), it might be enough for us to have a tag saying that a VM is registered or was created by the pool in the VPS pool on the Softlayer side, like `bosh-pool`. In that way, our team and specially other teams, will see those VMs as being handled by our team without having to understand if there is a pool or not or how to check the pool.

On the othe

[2017-07-17 09:50] EdwardStudy commented on #252
@jszroberto As consider for your team, The `vps-manage` tag maybe work on your situation.

The tag design is that the VM created by the VPS pool will be added `vps-manage` tag, and anything about tags do not changes when the VM is recollected by the VPS poll. You can query the tag to check if VMs are created by the VPS pool.

So how do you think about using this method to specify to the creation o

[2017-07-22 00:27] jszroberto commented on #252
@EdwardStudy that would work

[2017-08-16 06:16] EdwardStudy commented on #253
@valeriap Hi, we upgrade stemcell to v3431.13.3, it fixes the issue. And we prefer to use BOSH director v262.3+.

I hope this helps you.

[2017-08-17 06:44] #253 closed

[2017-08-17 06:45] valeriap commented on #253
Thanks.

[2017-09-01 05:16] 7CHANHO opened #259 "CPI error 'Can not find VirtualGuestBlockDeviceTemplateGroup with id ...'"
## ISSUE
When I tried to upload the stemcell, a CPI error occurred.
[code]

## CONTEXT
I used the following version of the release.
- bosh: 262.3
- bosh-softlayer-cpi: 23
- bosh-softlayer-xen-ubuntu-trusty-go_agent: 3431.13.3

[2017-09-01 07:21] EdwardStudy commented on #259
@7CHANHO Hi~
The error is meaning that system image id `1710621` can not found in Softlayer image templates.(And I checked that it does not exist in portal) You could just try the latest version like `3445.2.1`.

Hope this helps!

[2017-09-01 08:45] 7CHANHO commented on #259
@EdwardStudy Hello.
I have found my problem. Since bosh is not connected to the public network, it is determined that a timeout has occurred during the API call.
[code]
When I added the public network gateway, then the connection became possible.
Also, uploading the stemcell is now possible.

How do I configure the manifest to distribute bosh to connect to the public network?

[2017-09-01 09:32] EdwardStudy commented on #259
Yes, I see that you used [cloudfoundry/bosh-deployment](https://github.com/cloudfoundry/bosh-deployment.git). We fixed the gateway error in our own [repo](https://github.com/bluebosh/bosh-deployment/tree/softlayer).  But the PR merge may be laterly.

You can use the [repo](https://github.com/bluebosh/bosh-deployment/tree/softlayer) temporarily if you need.

Thank you.

[2017-09-04 09:12] 7CHANHO commented on #259
@EdwardStudy Thank You :)

[2017-09-04 09:12] #259 closed

[2017-09-04 09:16] 7CHANHO opened #260 "CPI error 'Cannot find the billing item for this virtual server'"
## CONTEXT
I used the following version of the release.
- bosh: 263
- bosh-softlayer-cpi: 23
- bosh-softlayer-xen-ubuntu-trusty-go_agent: 3445.2.1

## ISSUE
When I tried to recreate the job, a CPI error occurred.
[code]

## QUESTION
Why does this error occur? Do I need special permissions to recreate?

[2017-09-05 07:28] 7CHANHO opened #261 "IP address not available for the link provider instance"
## CONTEXT
I used the following version of the release.
- bosh: 263
- bosh-softlayer-cpi: 23
- bosh-softlayer-xen-ubuntu-trusty-go_agent: 3445.2.1

## ISSUE
When I tried to deploy Cloud Foundry using `cf-deployment`, a wanning message occurred.
[code]
To solve this problem, I modified the `cf-deployment.yml` file as follows:
[code]
## QUESTION
After that, the problem did not occur anymore.
Why are

[2017-09-05 07:30] 7CHANHO commented on #260
When I tried to deploy Cloud Foundry using `cf-deployment`, the same error has occurred.
[code]

[2017-09-06 01:54] EdwardStudy commented on #260
The error message was said that `virtual server (sl-20170905-022554-998.softlayer.com)` was not exist (meaning was deleted). As a default, Bosh would delete VM from the cloud when instance update. And director has `enable_virtual_delete_vms` [property](https://bosh.io/jobs/director?source=github.com/cloudfoundry/bosh#p=director.enable_virtual_delete_vms) to specify this behaviour.

So I suggest th

[2017-09-06 02:37] mattcui commented on #260
@7CHANHO You could reference https://github.com/bluebosh/bosh-deployment/blob/softlayer/softlayer/cpi.yml#L76, here is property spec -> https://bosh.io/jobs/director?source=github.com/cloudfoundry/bosh&version=263#p=director.enable_virtual_delete_vms

[2017-09-06 09:14] 7CHANHO commented on #260
Thank you @EdwardStudy @mattcui
I have solved this problem.

[2017-09-06 09:15] #260 closed

[2017-09-06 09:17] 7CHANHO commented on #261
I used Bosh CLI v1 instead of Bosh CLI v2 and this problem no longer occurs.

[2017-09-06 09:17] #261 closed

[2017-09-17 03:54] YunSangJun opened #262 "How to use softlayer private endpoint?."
Hello.

How to use softlayer private endpoint?.

The following is guide for softlayer REST API.
Use "api.service.softlayer.com/rest/v3/" to access the REST API over SoftLayer's private network.
https://sldn.softlayer.com/article/rest

[2017-11-03 07:49] 7CHANHO opened #264 "Option to select VM type as Private Node"
Hello.
I am currently deploying Cloud Foundry on SoftLayer using bosh-softlayer-cpi.
But I want to deploy VM as a private node, not a public node.
Is there an option to select VM type as private node in bosh-softlayer-cpi?
I look forward to your reply.

[2017-11-03 09:28] EdwardStudy commented on #264
@7CHANHO Hi, You could set property `dedicatedAccountHostOnlyFlag: true` in cloud_property and deploy new VMs. You can find this property in [local properties](https://sldn.softlayer.com/reference/datatypes/SoftLayer_virtual_guest).

I hope it helps you.

[2017-11-06 07:14] 7CHANHO commented on #264
Thank you for your reply, @EdwardStudy
That's what I was looking for.
Let me ask you one more question.
If this property is set to true, will the VSI host be assigned automatically?
Is this the same procedure as selecting 'auto assign' in the soft layer console?

[2017-11-08 11:10] mattcui commented on #262
@YunSangJun sorry for late reply, you can specify an api endpoint in the following feature option

http://bosh.io/jobs/softlayer_cpi?source=github.com/cloudfoundry/bosh-softlayer-cpi-release&version=23#p=softlayer.featureOptions.apiEndpoint

[2017-12-15 17:55] dpb587-pivotal opened #266 "Add `info` method to CPI"
Hi - we noticed the CPI doesn't support the [`info`](http://bosh.io/docs/cpi-api-v1.html#info) endpoint that director is starting to use. Currently, the only use case of `info` right now is so director can ask which types of stemcells a CPI supports. When operators are utilizing [multi-cpi](http://bosh.io/docs/guide-multi-cpi-aws.html) support, we only want to give uploaded stemcells to CPIs which

[2017-12-17 03:06] mattcui commented on #264
@7CHANHO I think so, as you may know, SL started to support to allow the user to order a host and provision VMs on the host, our CPI hasn't support this new feature, will look at it soon.

[2017-12-17 03:06] #264 closed

[2017-12-17 03:07] #251 closed

[2017-12-17 03:09] mattcui commented on #266
@dpb587-pivotal Thanks for the detailed info, we will address it in CPI ng and new stemcell.

/cc @EdwardStudy

[2018-06-05 12:54] anthony-loupos opened #273 "Bosh panics at external bosh command softlayer cpi"
I'm following the instructions at https://bosh.io/docs/init-softlayer/#vlan but when trying to deploy the Director it panics.  I think this is the relevant snippet:

`{"accountId":<redacted>,"createDate":"2018-01-23T02:21:18-05:00","id":<redacted>,"name":"light-bosh-stemcell-3468.20-softlayer-xen-ubuntu-trusty-go_agent","note":"Public_light_stemcell_3468.20","parentId":null,"publicFlag":1,"statusI

[2018-06-06 14:06] edwardstudy commented on #273
@anthony-loupos You should set sl_vlan_public/sl_vlan_private as the number.

[2018-06-06 14:06] #273 closed

[2018-08-12 10:33] mattcui commented on #266
it's implemented in CPI NG now.

[2018-08-12 10:33] #266 closed

[2018-08-12 10:34] #262 closed

[2018-08-12 10:35] mattcui commented on #252
@jszroberto we will deliver CPI NG, do you still have this requirement? Thanks.

[2018-08-12 10:36] #228 closed

[2018-08-12 10:36] #191 closed

[2018-08-12 10:37] #135 closed

[2018-08-12 10:37] #128 closed

[2018-08-12 10:39] #117 closed

[2018-08-12 10:40] mattcui commented on #110
No plan to support NFS.

[2018-08-12 10:40] #110 closed

[2018-08-12 10:41] mattcui commented on #252
Closing this one, please re-open if you still have the requirement.

[2018-08-12 10:41] #252 closed

[2018-08-14 06:18] jszroberto commented on #252
@mattcui We still have the same requirement, but I guess it can wait until you publish the CPI NG.

[2018-08-14 09:07] mattcui commented on #252
@jszroberto do you know if some ones/teams are really still using VPS? We still have capacity problem in SL DCs? Thanks.

[2018-08-14 12:17] jszroberto commented on #252
@mattcui I've just double-checked VPS is enabled only for short periods of time.

In the past we were adding more and more VMs to the pool, but not any longer.

Consequently, this requirement is not that important now as it was 1 year ago.

[2018-08-14 12:29] mattcui commented on #252
Thanks for the double check.

[2018-09-11 05:23] mattcui opened #282 "Consider to clean up the code for updating /etc/hosts"
Now that it's a must to set certs for bosh director components like nats, there has to set the IP as CN in the cert, so it's impossible to deploy a dynamic IP director only using domain name now. The users have to create a VM to get the IP first and then deploy the director on this VM through OS reload.

https://github.com/cloudfoundry/bosh-softlayer-cpi-release/blob/e0450bc25538d1a109e7fa450f5216

[2018-09-17 06:51] mattcui opened #283 "Compose a script to create an empty VM for provisioning the BOSH director"
Due to the reason described in [issue 282](https://github.com/cloudfoundry/bosh-softlayer-cpi-release/issues/282), in order to deploy a BOSH director with dynamic IP, we have to pre-create an empty VM to get the IP, and use this IP as a fixed IP to provision a BOSH director with OS reload. This issue is used to track to develop such script.

[2018-09-23 10:50] mattcui commented on #283
Done

[2018-09-23 10:50] #283 closed

[2018-09-24 16:13] mattcui commented on #282
Addressed in https://github.com/cloudfoundry/bosh-softlayer-cpi-release/pull/285

[2018-09-24 16:13] #282 closed

[2018-09-25 16:26] mattcui opened #286 "Need to update bosh deployment approach in test code"
See the follow error in CPI builder pipeline

[code]

[2018-10-09 01:41] mattcui commented on #286
@edwardstudy I merged into my private `bosh-deployment` repo, currently, does bats test point to my private repo?

[2018-10-09 01:46] edwardstudy commented on #286
@mattcui Nope. The pipeline used my private repo to do bats. I'll update the pipeline.

[2018-10-09 03:27] edwardstudy opened #288 "Find a way to strip invalid characters before passing it to tagging service."
When bosh-cli machine have not UTC timezone, a CPI error occurred.

[code]

The metadata string(`created_at:2018-10-08t13:31:57+02:00`) contained `+` which is invalid for SL tagging service. So CPI could not set vm metadata successfully.

A quick workaround is setting machine's timezone to UTC can resolve the issue.

From SL docs and support chat, there is no way to escape special characters. But

[2018-10-10 15:00] mattcui opened #291 "Still need to update /etc/hosts with sudo for deploying director with manual network"
There needs to set the ssh tunnel to the director VM before the agent is started, but the portable IP is configured by bosh-agent, so when setting up ssh tunnel, portable IP is not ready on the director VM, as a workaround, we have to update `/etc/hosts' to add a domain mapping to the private IP of director VM, so that the bosh-cli can ssh tunnel into the director VM with the private IP which is r

[2018-10-11 10:01] #288 closed

[2018-10-15 06:27] mattcui opened #293 "Move to the latest version of concourse for community cpi/stemcell"
Need to setup and connect to a credhub server to get our work more secured

[2018-10-17 03:06] mattcui opened #294 "Failed to change ephemeral disk size"
There did show the response from SL to the place order, but the disk is not changed on the target VM

[code]

[2018-10-17 04:16] edwardstudy commented on #294
SL support told me that VM had the primary disk(/dev/xvdc) and secondary disk(/dev/xvde).

[code]

[2018-10-17 06:58] edwardstudy commented on #294
And local disk could not be reproduced this issue.

[code]

[2018-10-18 12:09] mattcui commented on #294
Looks like this is an one-off problem specific on that target VM since the disk was ever changed manually, including disk name. Closing this issue.

[2018-10-18 12:09] #294 closed

[2018-10-22 02:28] #291 closed

[2018-10-22 02:29] #286 closed

[2018-10-22 02:56] mattcui opened #295 "Distribute Bluemix stemcells to more DCs in building process"
DCs include dal05, dal06, dal09, dal10, fra02, fra04, fra05, lon02, lon04, lon06, syd01, syd04, wdc04, wdc06, wdc07

Only necessary for Bluemix stemcell, not community ones.

[2018-10-22 03:01] mattcui opened #296 "Distribute Bluemix stemcells to more DCs duing building process"
DCs include dal05, dal06, dal09, dal10, fra02, fra04, fra05, lon02, lon04, lon06, syd01, syd04, wdc04, wdc06, wdc07

Only necessary for Bluemix stemcell, not community ones.

[2018-10-22 03:03] mattcui opened #297 "Distribute bluemix stemcells to more DCs during building process"
DCs include dal05, dal06, dal09, dal10, fra02, fra04, fra05, lon02, lon04, lon06, syd01, syd04, wdc04, wdc06, wdc07

Only necessary for Bluemix stemcell, not community ones.

[2018-10-22 14:07] mattcui commented on #297
dup due to a GitHub outage issue.

[2018-10-22 14:07] #297 closed

[2018-10-22 14:08] mattcui commented on #296
dup due to a GitHub outage issue.

[2018-10-22 14:08] #296 closed

[2018-10-25 03:38] mattcui opened #298 "Need retry if there fails to check active transaction from SL"
```L Error: CPI error 'Bosh::clouds::CloudError' with message 'Attaching ephemeral disk to VM with id 'xxxxxxxx': Waiting until instance has none active transaction before os_reload: WSDL: SOAP-ERROR: Parsing Schema: can't import schema from 'https://applb101-loopback.softlayer.local/v3.1/sldn/soap/SoftLayer_Virtual_Guest?xsd' (HTTP 500)' in 'create_vm' CPI method```

In addition, need to correct

[2018-11-19 06:40] mattcui opened #300 "Need to renew `softlayer ci ssl certificate` cert and move to the corresponding domain"
@dpb587-pivotal Dmitriy ever gave us the cert for cpi and stemcell ci/cd pipeline site for IBM Cloud. through LastPass (`softlayer ci ssl certificate`), it's already expired, could you please help renew it? Actually we didn't use it before, do you know what domain is addressed by this cert, we need to apply for the domain name through aws route53? Thanks.

/cc @jfmyers9 @mfine30

[2018-11-19 17:19] dpb587-pivotal commented on #300
I do not think we are managing CI environments nor certificates for SoftLayer. I do not know what environment you are referring to - can you be more specific?

If this concerns sensitive environments or details, please start an email thread with us instead of a public GitHub issue.

[2018-11-21 03:42] mattcui opened #302 "CPI needs to set Preconfigured in a smart way to keep backward compatibility"
CPI needs to address the change in bosh agent to split DNS configuration and network configuration in two separated functions in near future, plan to make CPI be able to pass the proper value to boshagent for `Preconfigured` and maybe `DNSConfigured` based on the version of stemcell (before and after this change in bosh agent)

[2018-11-21 06:56] edwardstudy commented on #302
About `Preconfigured` issue, we want to remove `writeResolvConf` func which SoftLayer doesn't need. Because SoftLayer currently hands over configure networks functionality(including `dns-nameservers` definition on `/etc/network/interfaces`) to bosh agent. Agent will write `/etc/network/interfaces`.

I just set preconfigured as false on `/var/vcap/bosh/settings.json` manually and restarted agent an

[2018-11-27 06:54] mattcui commented on #302
So it looks that it doesn't need a smart way to do that for keeping backward compatibility, closing this issue.

[2018-11-27 06:54] #302 closed

[2018-11-27 07:02] mattcui opened #304 "`Potential file inclusion via variable` from GoSec scan"
Reference -> https://stackoverflow.com/questions/52320708/how-to-handle-gosec-linter-warning-potential-file-inclusion-via-variable/52321435

[2018-11-27 07:07] mattcui opened #305 "`SQL string formatting` from GoSec scan"

[2018-11-27 07:17] mattcui opened #306 "`Errors unhandled` from GoSec scan"

[2018-11-27 07:18] mattcui opened #307 "`Use of weak cryptographic primitive` from GoSec scan"

[2018-11-27 07:20] mattcui opened #308 "Add GeSec scan into travis"

[2018-11-27 07:43] edwardstudy commented on #307
CPI uses MD5 to digest stemcell parts to check each part integrity. It does not work to import the bad image if attackers forge MD5 digest.

[2018-11-27 07:45] edwardstudy commented on #304
It was still warning after accept https://stackoverflow.com/a/52321933/3804444.

The only thing to do about the warning is to suppress or ignore it.

[2018-11-27 08:14] edwardstudy commented on #305
They are just log message not SQL string:

[code]

gosec should suppress or ignore it.

[2018-11-27 08:57] edwardstudy commented on #307
About object file collision, swift(>=1.9.0) will identify md5 collisions on objects and sens a 403: https://github.com/openstack/swift/commit/caa01cd81e7dae6c41c1ffb8a69aed6ff70777cf

[2018-11-28 04:56] edwardstudy commented on #308
First fly result: https://travis-ci.org/cloudfoundry/bosh-softlayer-cpi-release/builds/460601751#L4208-L4214

[code]

[2018-11-28 06:55] mattcui commented on #300
After some discussions with Danny, we decided to try with `Let's Encrypt`, there is a bosh release for use or reference -> https://github.com/dpb587/caddy-bosh-release

[2018-11-28 07:01] #308 closed

[2018-11-28 07:01] #307 closed

[2018-11-28 07:01] #306 closed

[2018-11-28 07:01] #305 closed

[2018-11-28 07:02] #304 closed

[2018-11-28 07:05] mattcui opened #310 "Upgrade golang package to v1.11.2 for CPI NG"
I saw Google CPI is still using v1.9.1, but it's updated one year ago. I think we could have a try with moving to the latest version of Golang. let's see if it can pass all tests (UT/Integration/Bats).

[2018-11-29 11:10] mattcui commented on #300
Requested a new cert for `bosh-sl-ci.bluemix.net` from `Let's Encrypt", closing this issue.

[2018-11-29 11:10] #300 closed

[2019-02-17 14:14] mattcui commented on #295
It's not necessary to community stemcell.

[2019-02-17 14:14] #295 closed

[2019-02-23 04:59] mattcui commented on #293
Track this work in internal repo

[2019-02-23 04:59] #293 closed

[2019-02-23 05:59] mattcui opened #312 "CPI ran in a dead loop at setUserMetadata in some case"
Got report that CPI is running in a dead loop in some cases:

[code]

The problematic part of code is in client.go:

https://github.com/cloudfoundry/bosh-softlayer-cpi-release/blob/master/src/bosh-softlayer-cpi/softlayer/client/client.go#L1791-L1809

May need to change to retry 5 times and make it failed if it's still in a bad condition.

[2019-02-23 06:08] mattcui commented on #312
@xuliya Please work on this task as the primary, will assign to you once Max adds you in this repo.

[2019-04-17 08:13] gu-bin opened #313 "No disk found should exit successfully when delete_disk"
Currently CPI returns error if the disk doesn't exist. Should exit successfully

[2019-04-17 08:25] gu-bin commented on #313
Add the following code to delete_disk.go and add corresponding unit tests.

[code]

[2019-04-17 13:42] edwardstudy commented on #313
It's not a SL API error, we can refactor method `softlayerClient.GetBlockVolumeDetailsBySoftLayerAccount`:
[code]

[2019-04-22 02:20] LiYa-Xu commented on #313
@gu-bin @edwardstudy
please help review the PR :https://github.com/cloudfoundry/bosh-softlayer-cpi-release/pull/314

[2019-05-27 02:45] mattcui opened #316 "Need to support to show CPI messages in `bosh task <ID> --cpi`"
Could reference https://github.com/cloudfoundry/bosh-google-cpi-release/issues/278

[2019-06-04 08:11] gu-bin commented on #310
upgraded to 1.11.4

[2019-06-04 08:11] #310 closed

[2019-06-04 08:13] gu-bin commented on #313
PR merged

[2019-06-04 08:13] #313 closed

[2019-06-04 08:20] gu-bin opened #320 "Hide credentials in cpi log"
Need to hide credentials like password and apikey in cpi log

[2019-06-20 06:42] gu-bin commented on #316
PR https://github.com/cloudfoundry/bosh-softlayer-cpi-release/pull/321

[2021-01-25 04:41] gu-bin commented on #320
done with PR https://github.com/cloudfoundry/bosh-softlayer-cpi-release/pull/321 and https://github.com/cloudfoundry/bosh-softlayer-cpi-release/pull/322

[2021-01-25 04:41] #320 closed

[2021-01-25 04:43] gu-bin commented on #316
done

[2021-01-25 04:43] #316 closed

[2021-11-25 18:21] rkoster commented on #312
@xuliya Any update on this issue? Or can it be closed?

[2021-11-25 18:22] rkoster commented on #298
@gu-bin Any update on this? Or can this issue be closed?

[2021-12-03 18:23] rkoster commented on #298
@donacarr Do you have any context on this issue?

[2021-12-03 18:23] rkoster commented on #312
@donacarr Do you have any context on this issue?

[2022-07-27 13:38] #298 closed

[2022-07-27 13:38] #312 closed